[2017-05-12 03:00] torch2424 opened #1 "Move config.sh into radioFiles"
This will help with tab completion of `config`,

Also, will be awesome for file servers like droppy, this will allow for editing the stream as it is playing, where it would update every song 👍

[2017-05-12 03:06] #1 closed

[2017-05-17 03:42] torch2424 opened #5 "Allow for "Bumps" or Interludes between tracks"
This would give a radio feel, where an "announcer" will just talk about the station.

[2017-05-17 05:46] #5 closed

[2017-06-28 17:25] torch2424 opened #7 "Find reason for rare stream drops"
Been in talks with another pi streamer, and we get the error

[code]

So far I've dug up:

https://stackoverflow.com/questions/22493496/rtmpdump-rtmp-send-error-32
https://trac.ffmpeg.org/ticket/1604
https://lists.freedesktop.org/archives/gstreamer-devel/2013-May/040765.html
http://gstreamer-devel.966125.n4.nabble.com/rtspsrc-is-not-compatible-with-rtmpsink-td4671698.html
https://obsproject.com/fo

[2017-08-21 23:29] AndreasWebdev opened #8 "/tmp/optimizeGifPallet.png: No such file or directory"
Tried to set up piStreamRadio on a Pi3 with a fresh Raspbian Desktop Install.
After installing all dependencies successfully and customizing the config.sh I tried to start the stream via ./startStream.sh.

After starting the stream, the script restarted itself and put out two error messages:
"/tmp/optimizeGifPallet.png: No such file or directory" and "/tmp/streamGif1503357767.gif: Invalid data fou

[2017-08-24 17:33] torch2424 commented on #8
Hello! Thanks for the detailed output!

I've been at a Google internship over the summer. And I have been meaning to fix some bugs with this after some help I've gotten from reddit. I'll get on to fixing this asap!

I comeback at the end of the week, and I'll reset one of my pis from scratch, and fix any bugs it may have.

[2017-08-25 12:34] AndreasWebdev commented on #8
Hello, first of all thank you for your quick response.

I am currently trying to find out possible causes for this to happen.

May I ask, on what configuration does your test stream run?
What OS have you installed on what version?

[2017-08-26 21:12] torch2424 commented on #8
I have all of this on Raspbian Jessie, and I probably would need to update this since a newer version just came out. And I can pass along my config later on :)

[2017-09-04 10:29] AndreasWebdev commented on #8
have you had any luck with it yet?

[2017-09-05 05:52] torch2424 commented on #8
Was actually planning on spending this week fixing everything up.

I just got back from my Google stuff about 2 weeks ago. And since then, I've been trying to clean up a lot of my personal dev environments, fix up my home pi network, and start moving some private projects to Github.

Part of this was starting to make a lot of my code that I've been copy-pasta'ing into my separate projects into nod

[2017-09-06 07:19] torch2424 commented on #8
Hello @AndreasWebdev !

So tonight I went ahead and got a fresh install of the latest [Raspbian Stretch](https://www.raspberrypi.org/downloads/raspbian/), here's a screenshot of the exact image I used:

<img width="466" alt="screen shot 2017-09-06 at 12 08 11 am" src="https://user-images.githubusercontent.com/1448289/30098644-a7a2dfd6-9297-11e7-90aa-fb3b62ba1a17.png">

Then I went ahead and did th

[2017-09-06 21:34] AndreasWebdev commented on #8
I'll try it with a fresh Stretch Lite Pi tomorrow and report back to you!

[2017-09-07 20:55] AndreasWebdev commented on #8
Here is my outcome:

* reinstalled Raspbian Stretch Lite
* set up WIFI, SSH & Keyboard layout
* downloaded master.zip, unzipped, installed deps
* changed config and started stream

**Outcome:**
* the stream starts with a speed of 1,04x
* I cannot hear music, but I can see the moving gif
* the stream shows the correct artist and song

After that I restarted my pi, whenever I start ./startStream.sh

[2017-09-07 21:20] AndreasWebdev commented on #8
I can also confirm that I hear the music when connecting the pi to an hdmi display! so the song playes but it does not get transmitted to the stream

[2017-09-08 01:14] torch2424 commented on #8
Nice! We are making progress 😄

So for the audio it may have something to do with the alsa loopback thing.

Can you look at your .asoundrc? So run the following:

`cat ~/.asoundrc`

And it should look like this: https://github.com/torch2424/piStreamRadio/blob/master/configFiles/asoundrc

Let me know if it doesn't. If it doesn't, just copy and paste into the file.

Thanks!

[2017-09-08 14:54] AndreasWebdev commented on #8
Hey, there was no .asoundrc in ~/.asoundrc however there was one in ~/piStreamRadio/configFiles/asoundrc with this exact content

[2017-09-08 17:47] torch2424 commented on #8
Ahhhh, so go ahead and do the following:

`cp ~/piStreamRadio/configFiles/asoundrc ~/.asoundrc` and then restart the pi, and then start the stream.

I'm about to pull in some new changes, and I'll be sure to investigate the before doing so :)

Thanks for helping me catch this!

[2017-09-08 18:27] AndreasWebdev commented on #8
Yes as stated in the README, I copied the master.zip to ~/, unzipped it there, cd'd into piStreamRadio and started installDeps.sh

[2017-09-08 18:32] AndreasWebdev commented on #8
I can confirm that copying the asoundrc from configFiles/asoundsrc to ~ fixed the audio issue! This means everything is working as intended now. Thank you so much for your help!

[2017-09-08 18:32] #8 closed

[2017-09-09 01:03] torch2424 commented on #8
You are welcome! I am glad that it all works now :) Feel free to open anymore issues!

[2017-09-11 10:33] AndreasWebdev opened #10 "Open the wiki for more documentation"
I think it would be a good idea to open the wiki for more in depth information and documentation. There could be a list with "perfect configurations" for different devices like the Raspberry Pi3 or 2 or other devices with different components.

Besides that there could be a simple step-by-step tutorial for total noobs.

[2017-09-11 10:35] AndreasWebdev opened #11 "Loading GIF"
Add a path variable in the config for a "loading gif" that get's always played while the stream is loading the next song with the interlude (instead of showing a random gif)

[2017-09-11 19:58] torch2424 commented on #11
That's a good idea! When I make my next batch of major updates I'll get that going :)

Feel free to fork and make a PR as well

[2017-09-11 20:00] torch2424 commented on #10
Yes! I am a big fan of documentation. I tend to not open wikis, since I like having short and sweet docs, and not having it all over the place. But I would be open to the readme just pointing to the wiki for documentation.

If you would like, I can open the wiki, and you can feel free to contribute to it as well?

I think if the project gets anymore complicated, I will go ahead and do that, otherw

[2017-09-12 07:30] AndreasWebdev commented on #10
Using the README is more than suitable! I'll try to think of some improvements for that!

[2017-09-12 07:30] #10 closed

[2017-09-12 07:38] AndreasWebdev opened #15 "Table for support"
It might be good to add a table to the readme with confirmed support for quick access

[2017-09-13 11:05] #15 closed

[2017-09-13 11:06] AndreasWebdev commented on #11
I still fight my way through the code, haven't done anything for linux yet but I begin to understand :smile:

[2017-09-13 19:02] torch2424 commented on #11
Nice! I am glad this is helping you out?

I am summing you do web development? Are you doing Javascript on Windows then?

[2017-09-14 10:21] AndreasWebdev commented on #11
Yes, Frontend HTML, CSS, Javascript, Backend PHP MySQL and (lately) NodeJS.. Also Unity C# and Android Java

[2017-09-15 01:35] torch2424 commented on #11
Nice! I do all my work in Unix (I love Ubuntu, but currently on a mac for work), and I do mostly Node / ES6 work in Angular. I used to do some wordpress stuff for friends here and there. But this is just a fun side project of mine written in bash haha 😄

[2017-09-21 15:42] robdixn opened #17 "Pi Zero Error (Not Working)"
Got everything installed on my Pi Zero and when I ran ./startStream.sh I got the following error which kept looping until I hit Ctrl+C to stop it:

High Performance MPEG 1.0/2.0/2.5 Audio Player for Layers 1, 2 and 3
        version 1.23.8; written and copyright by Michael Hipp and others
        free software (LGPL) without any warranty but with best wishes
./startStream.sh: line 103: 17409 Termi

[2017-09-22 00:46] torch2424 commented on #17
Hello,

So it seems that FFmpeg wasn't installed correctly. In the README, I mentioned that this does not work with Raspberry pi 1. Which would include Pi Zero, though I should probably explicitly state that.

However, if you are really motivated to get things working, try running `./additionalScripts/compileFFmpeg.sh`. It will take about an hour to complete, because it will build the required FFm

[2017-09-22 23:17] torch2424 opened #18 "Look into Stream mirroring"
https://www.reddit.com/r/Twitch/comments/42a25b/streaming_to_twitch_and_youtube_gaming/

[2017-09-22 23:49] torch2424 commented on #18
I think trying to use ffmpeg parallel processing is too hard for a pi:

https://trac.ffmpeg.org/wiki/Creating%20multiple%20outputs#Teepseudo-muxer

Which is why i was getting errors. The nginx solution may be the best / easiest

[2017-09-23 00:08] torch2424 commented on #18
Actually it is because the required flag is broken with copy: https://trac.ffmpeg.org/ticket/3723

[2017-09-23 00:34] torch2424 commented on #18
Actually, nginx is the best option, see the reddit and this: https://obsproject.com/forum/resources/how-to-set-up-your-own-private-rtmp-server-using-nginx.50/

[2017-09-23 01:25] torch2424 commented on #18
Nginx totally works. Gets installed to `/usr/local` however. And would need a systemd script running it. Also the entire config is in `nginx.conf`

[2017-09-23 01:32] torch2424 commented on #18
Will also need this: https://www.nginx.com/resources/wiki/start/topics/examples/systemd/

[2017-09-24 20:28] torch2424 commented on #18
Here is the required nginx systemctl service:

https://github.com/torch2424/dotFiles/blob/master/.files_templates/nginxstream.service

[2017-09-26 10:01] robdixn commented on #17
Will be trying that today...

![image](https://user-images.githubusercontent.com/8268467/30854481-b015c8f0-a2a9-11e7-9d22-e8eb0db88398.png)

Once it has finished compiling, do I just re-run the ./startStream.sh file once I have re-configured the config file?

[2017-09-26 14:22] robdixn commented on #17
Yeah it's still throwing them errors even after that FFmpeg compiler.
Oh well, that's a shame, I guess the Pi Zero isn't powerful enough for this.
Thanks anyway.

[2017-09-26 14:23] #17 closed

[2017-10-22 21:56] MattDuskson opened #20 "[alsa@0x36e8b60] ALSA buffer xrun."
After a while I always end up get this error message causing cuts and stopping the broadcast.

![image](https://user-images.githubusercontent.com/4438898/31866713-0ebd032a-b784-11e7-910c-e53e77071f4d.png)

[2017-10-24 19:16] torch2424 commented on #20
Hello! That usually happens because the pi is having trouble keeping up with the stream. Which Pi are you running on? And you could possibly try putting smaller gifs in you `radioFiles/gifs`. And perhaps change the `MAX_GIF_SIZE` in your `radioFiles/config.sh`

[2017-10-24 19:17] torch2424 opened #21 "Create a CLI for piStream Radio"
Currently, you have to read the readme, and kind of dig around the project to get a feel for everything. Building a ./piStreamRadio.sh executable with a help and usage would be quite helpful

[2017-12-02 12:08] robsd opened #22 "./startStream.sh on boot"
Just got a new Pi 3 and this project works flawlessly on it.

I've set up a samba server on the Pi to add music and gifs over my local network. This runs automatically at boot/startup of the Pi.

One thing I'd like to be able to do is run the ./startStream.sh script automatically at boot/startup of the Pi.

Is this possible? How would I go about doing this? (I have tried rc.local and that doesn't

[2017-12-04 18:14] torch2424 commented on #22
Hello!

Nice! I am glad you got it all set up and stuff nicely! Would you mind sharing me your stream link? I like to check out streams that use the project if that is alright :)

Also, I use Systemd to accomlish this for me. I have a personal template for systemd services at: https://github.com/torch2424/dotFiles/blob/master/.files_templates/systemctl.service

So, create a file at the project roo

[2017-12-12 21:15] skykery opened #23 "Not working on Pi 2 Model B"
`--------------------------------------------------
Playing next song...
--------------------------------------------------

High Performance MPEG 1.0/2.0/2.5 Audio Player for Layers 1, 2 and 3
        version 1.23.8; written and copyright by Michael Hipp and others
        free software (LGPL) without any warranty but with best wishes

mpg123: death by SIGTERM
 ./startStream.sh: line 103: 14167 T

[2017-12-13 10:37] AndreasWebdev commented on #23
[code]

It seems like either you did not install all modules or they themselves crashed.

Can you provide us line 49 of ./runFfmpeg.sh?

[2017-12-13 18:51] torch2424 commented on #23
Oh what! Thanks @AndreasWebdev for helping out! Just saw this.

Yes, I totally agree, something didn't install right, try running the install scripts again :)

[2017-12-13 21:30] skykery commented on #23
[code]
after running the install sh

[2017-12-14 00:12] torch2424 commented on #23
Oh, it seems something is wrong with installing ffmpeg. Perhaps try compiling it from source?

Try running `./additionalScripts/compileFFmpeg.sh` from the project root directory. This is going to take a long while however, so definitely be prepared for that.

However, since mpg123 is being killed, that is good, as it means it is installed.

[2017-12-14 18:52] skykery commented on #23
Cloning into 'ffmpeg-source'...
remote: Counting objects: 535947, done.
remote: Compressing objects: 100% (108508/108508), done.
remote: Total 535947 (delta 427995), reused 534061 (delta 426375)
Receiving objects: 100% (535947/535947), 127.19 MiB | 625.00 KiB/s, done.
Resolving deltas: 100% (427995/427995), done.
Checking out files: 100% (6713/6713), done.
Unknown option "--disable-vda".
See ./con

[2017-12-15 01:10] torch2424 commented on #23
Can you try and remove the "--disable-vda" from the `./additionalScripts/compileFFmpeg.sh` file?

My apologies you are having so much trouble with this! I may also end up suggesting just starting from scratch with a fresh image install.

[2017-12-15 08:15] skykery commented on #23
I did it and vda option was the problem, now ffmpeg is compiled. Seems that "--disable-vda" option wasn't in ffmpeg cfg options.

[2017-12-15 08:15] #23 closed

[2017-12-17 19:43] torch2424 commented on #23
Thank you for reporting this, I'll make an issue to get that fixed :)

[2017-12-17 19:43] torch2424 opened #24 "Remove --disable-vda from ffmpeg compile"
As reported in #23

[2018-01-19 18:08] skykery opened #26 "docker image"
Can you build a docker image arm based with the project?

[2018-01-21 04:34] torch2424 commented on #26
Hello! Honestly, I've tried getting into the docker ecosystem in the past, but never could get too into it.

However, this is before things like docker compose existed, and give docker a third chance was on my TODO list, so I'll definitely keep this in mind, and use this project as a stepping board into docker if I get to it :)

[2018-02-01 18:31] Kikyuo opened #27 "streaming to restream.io"
hi i tried to stream via restream.io to twitch and youtube but wasnt really working after each song he had to like reconnect any advice what i can do to make it work better? Did one of u guys tried it and it worked smooth?

[2018-02-01 18:38] torch2424 commented on #27
Hello!

Yes unfortunately, whenever a song ends, the stream does end (for about 2 seconds) to grab a new song and gif, and start streaming once more.

I got multi-streams working by using Nginx and I mention it at #18 , but have yet to take the time to code that up.

I personally haven't used restream, but if that is a problem for them to keep re connecting, then it may not work 😞

[2018-02-13 19:16] luccyrobert1212 commented on #26
Sir Do you create a same project for Ubuntu also

[2018-02-25 01:50] Tresmos opened #28 "./radioFiles/gifs/./radioFiles/gifs: No such file or directory"
I'm getting this error when i try to run piStreamRadio:

Here is the full console output:
[error.txt](https://github.com/torch2424/piStreamRadio/files/1755549/error.txt)

I'm using RaspberryPi 3 and i just added stream token to the config file, other than that i didn't changed anything.

[2018-02-25 02:28] Tresmos commented on #28
I have no idea but i downloaded from releases page and now it works.

[2018-02-25 02:35] #28 closed

[2018-04-18 19:03] ammarr00 opened #30 "Can't get the piStreamRadio to work"
./radioFiles/gifs/./radioFiles/gifs/.DS_Store: No such file or directory
gifsicle:<stdin>: empty file
The first line shows up in red, the second one in grey. I have not added any music or gifs, just trying to get it to work with your examples. The last line that shows up is:
 ./startStream.sh: line 56: ${#(date +%s) % $RADIO_INTERLUDE_INTERVAL_LENGTH }: bad substitution

Can you tell me what I am

[2018-04-18 19:06] ammarr00 commented on #30
No need some files were missing when i downloaded the file.

[2018-04-18 19:06] #30 closed

[2018-04-18 19:43] ammarr00 opened #31 "Well still not working, gonna paste the whole code stuff here."
`pi@raspberrypi:~/piStreamRadio` $ ./startStream.sh

--------------------------------------------------
Please wait while we initialize the stream...
--------------------------------------------------

modprobe: ERROR: ../libkmod/libkmod.c:586 kmod_search_moddep() could not open moddep file '/lib/modules/4.9.80-v7+/modules.dep.bin'
modprobe: FATAL: Module snd-aloop not found in directory /lib/modu

[2018-04-18 20:48] ammarr00 commented on #31
Here is the optimizeGif.sh file
#!/bin/bash

# Script to generate an optimized gif
if [ "$#" -ne 2 ]; then
  echo "optimizeGif.sh: Opinionated Bash Script to optimize a gif"
  echo " "
  echo "USAGE: ./optimizeGif.sh [input.gif] [output.gif]"
  echo " "
else

  # Define our variables
  GIF=$1
  OPTIMIZED_GIF_PATH=$2
  PALLET_PATH="/tmp/optimizeGifPallet.png"

  # Import our config
  source radioFi

[2018-04-18 20:48] ammarr00 commented on #31
Here is the startStream.sh file
#!/bin/bash

# Source our config files
source radioFiles/config.sh

# Introuduce the program to the user
echo " "
echo " "
echo "--------------------------------------------------"
echo "Please wait while we initialize the stream..."
echo "--------------------------------------------------"
echo " "
echo " "

# Ensure our alsa is allowing for a looped recording
sudo

[2018-04-18 21:08] karimamer commented on #31
if you have a fix can you add a pull request with it ?  if you don't or can't  i will work on this

[2018-04-18 22:00] ammarr00 commented on #31
@Karimamer
I need a fix for this

[2018-04-21 18:11] ammarr00 commented on #31
@karimamer Have you had a chance to look into the problem yet?

[2018-04-22 22:43] frozenlq commented on #31
I have the same issue.

[2018-04-24 15:19] torch2424 commented on #20
So, this confirmed by skilikis (sorry if I spelled it wrong, I'm on my phone) to be a network issue. If you run this into `/dev/null` this will not happen.

The only solution is to make sure your router gives your pi the highest network priority, and maybe call your ISP :)

[2018-04-24 15:19] #20 closed

[2018-04-24 19:45] fsilvestre90 commented on #31
Have you had a chance to look into it?

[2018-04-24 20:29] torch2424 commented on #31
@karimamer I don't mind testing the changes on a pi I have at home 😄

[2018-04-24 20:37] fsilvestre90 commented on #31
pls respond

[2018-04-24 20:39] karimamer commented on #31
@fsilvestre90
https://media.giphy.com/media/xR9mRg8fFx7C8/giphy.gif

[2018-04-30 06:39] torch2424 commented on #31
So my apologies, @karimamer and I have been super busy lately, but I just remembered I made a stable release here: https://github.com/torch2424/piStreamRadio/releases/tag/1.0

Try following the instructions again, but with this release, and see how that goes. Thanks!

[2018-05-01 16:16] ammarr00 commented on #31
@torch2424 how would i do that?

[2018-05-21 05:55] EliteDaMyth opened #34 "How can i stream videos instead of gif?"

[2018-05-21 17:56] torch2424 commented on #34
Hello! I'd have to update the repo to get this working.

I actually JUST finished school a few days ago. So I should have a bit more time now, though I am currently focused on some other side projects.

Please feel free to open a PR with this functionality, and we can totally get it pulled in. Thanks!

[2018-05-21 17:56] torch2424 commented on #31
Oh I just saw this my apologies!

You should be able to just download the zip from the link I posted, extract it, and follow the normal setup 😄

Thanks!

[2018-08-09 12:32] sktwentysix opened #35 "Sound issues"
First off, this is a pretty neat little package. Thanks for setting up this repo up!

Running the startStream shell script seems to work, I can see the default gif and title and song info appearing live during the stream. Works very well! ...except for the audio.

There is no sound whatsoever. I tested my own tracks, as well as the default that came with the repo.

EDIT: I should also mention it's

[2018-08-09 21:04] torch2424 commented on #35
Hello!

Thank you! Glad you like it! I actually plan on working on updating this soon. Just moved and started a new job, so been quite busy!

I am pretty sure it's going to be something weird in the ALSA config, can you [check out the original reddit guide this is based on](https://www.reddit.com/r/raspberry_pi/comments/61ntji/247_youtube_music_live_stream_and_how_you_can/), and check out Step 5,

[2018-08-11 06:21] torch2424 opened #36 "Allow recursive file finding in radioFiles"
This would be helpful for organizing gifs and songs 👍

[2018-09-06 07:27] torch2424 opened #37 "Running to streams on one device"
From a reddit PM:

[code]

[2018-09-14 15:14] Nicholaiii opened #38 "startStream.sh total halt/freeze"
The script stops totally after a seemingly random amount of songs, when it changes.
Here's log output from right when a song is finished (first line is last output line from when it was still streaming it)
[code]

After this, nothing happens. Stream is obviously interrupted and CTRL-C does nothing.

[2018-09-17 04:00] torch2424 commented on #38
Oh huh, that is quite strange! I plan on picking up this project in a couple weeks, I'll definitely look into fixing this 😄

[2018-09-17 19:13] Trobyss opened #39 "./startStream.sh: source: not found"
Hi ! i have this error in boucle when i launch the script...

[code]

Thanks !

[2018-09-18 06:18] torch2424 commented on #39
Huh, seems like that the `source` command is not found. if I may ask, are you running this as the pi user?

Thanks!

[2018-09-18 06:22] torch2424 opened #40 "DISCUSSION: Consider Moving the Project to Node."
As fun as building all of this in bash has been, I've been getting tons of errors from users from rand bash errors, and the code is kind of crazy.

I think moving to node would make the code a lot more maintainable, and allow us to have much more meaningful error messages.

Please post any objections you may have here.

I will leave this issue open for about a week (Until September 24th at the ear

[2018-09-18 06:47] Trobyss commented on #39
hi !
I check when I come back but it seems to me that yes ...

[2018-09-18 08:50] AndreasWebdev commented on #40
+1 for a node rewrite. It would make this project seem much less "hacky" and could be integrated into other projects more easily (think about a ui-version for windows or similar)

[2018-09-18 18:12] torch2424 commented on #40
Thanks for the feedback @AndreasWebdev 😄 My only concern is that I noticed that a lot of new raspberry pi owners, or those who aren't day-to-day developers, often use this project. I feel like adding the step of installing node could be a bit of a pain for some. Especially if things like permissions get messed up.

I can suggest using something like nvm, but I feel like as long as the node version

[2018-09-19 17:40] Trobyss commented on #39
Hi ! i solve my problems but i have new one:

./radioFiles/gifs/./radioFiles/gifs/.DS_Store: No such file or directory
./runFfmpeg.sh: line 19: .radioFiles/config.sh: No such file or directory
./runFfmpeg.sh: line 24: ${#VIDEO_FPS \* 3}: bad substitution
[src/libmpg123/readers.c:1182] error: Cannot open file
./radioFiles/music/./radioFiles/music: No such file or directory
main: [src/mpg123.c:732]

[2018-09-19 20:42] torch2424 commented on #39
Hello,

Glad you figured it out! If I may ask, perhaps your project clone got messed up? Seems like you are missing your `radioFiles/config.sh`.

Also, some of the neccessary folder were not created, such as your music folder.

Also, are you running the `./startStream.sh` from the project directory? E.g `/home/pi/piStreamRadio` ?

[2018-09-21 06:37] torch2424 commented on #39
Hello! So I just updated the project. If I could ask, could you try re-installing the project? I ran into similar issues as you trying to do everything from a clean slate, and it should work now 😄

[2018-09-21 06:38] torch2424 commented on #38
Hello! Just updated the project with a bunch of fixes. Could you try reinstalling and seeing if your issue is fixed? Thanks!

[2018-09-21 06:39] torch2424 commented on #35
Hello! Was this ever resolved? I also made a bunch of fixes on the master branch recently, that may also help with your issue.

Thank you!

[2018-09-21 06:40] torch2424 commented on #31
Hello!

Did you ever figure this out? I just posted a bunch of fixes directly to the master branch. The release should have worked, but if not, feel free to try re-installing.

Thanks!

[2018-09-21 07:11] #36 closed

[2018-09-21 12:52] Nicholaiii commented on #40
I would join development if you switched to Node. I was considering writing it myself with some options for rendering in advance and such.

Also, a +1 for nvm here, it's much nicer than apt, will work on any Linux distro and doesn't require su, because it installs in ~/.nvm.

[2018-09-21 16:37] torch2424 commented on #40
Awesome!

Yeah I'll start the node rewrite tonight, or tommorow. Would be awesome, to have some more contributors on the project as well :)

[2018-09-23 09:41] Trobyss commented on #39
Hi !
Thanks for this update, but i have new error now ahah:

`[h264_omx @ 0x1b41390] err 80001005 (-2147479547) on line 481
Error initializing output stream 0:0 -- Error while opening encoder for output stream #0:0 - maybe incorrect parameters such as bit_rate, rate, width or height
[alsa @ 0x1b1eb60] Thread message queue blocking; consider raising the thread_queue_size option (current value: 8)
C

[2018-09-23 11:57] DarkGohst opened #43 "Can not start stream"
On starting stream i get this error:
root@ip56:~/piStreamRadio# ./startStream.sh

--------------------------------------------------
Please wait while we initialize the stream...
--------------------------------------------------

modprobe: ERROR: ../libkmod/libkmod.c:514 lookup_builtin_file() could not open builtin file '/lib/modules/4.13.13-5-pve/modules.builtin.bin'
modprobe: FATAL: Module snd-

[2018-09-23 18:06] torch2424 commented on #43
Hello! Seems like the project wasn't installed correctly. Could you try re installing? And did you run `./installDeps.sh` ?

[2018-09-23 18:08] torch2424 commented on #39
Huh. Did you do everything from a clean slate?

Like a fresh install of raspbian, and the project?

I think that will help here, as it seems like ffmpeg and the alsa setup got wacky.

[2018-09-24 08:29] AndreasWebdev commented on #40
I'd definitely be down at least studying the node code and potentially think of usecases for endusers!

[2018-09-24 14:55] torch2424 commented on #40
Rad!

Well I started this on the `node-rebuild` branch.

https://github.com/torch2424/piStreamRadio/tree/node-rebuild?files=1

I already made a project generator which is awesome and allows us to have more freedom in how we do things on the repo for things like upgradability. :)

[2018-09-24 17:20] Nicholaiii commented on #40
I love the idea of a CLI that generates radio instances/configs and streams them as well. I was thinking to make a small web-gui? My idea is to keep it in a seperate repo that could be cloned, built and packaged into releases with the `prepare` script (that also allows you to do the same on local `npm install` during dev).

[2018-09-24 18:28] torch2424 commented on #40
@Nicholaiii

Oh yes, I was definitely thinking about web interfaces as well! For the initial 2.0 I think I will get the original functionality that the bash project had. And then introduce a web ui in later revisions from contributions, or if I have the time.

@AndreasWebdev

You make a good point as well! I think doing all of the config, files, and status should be hosted on the a port as an API.

[2018-09-24 18:59] Nicholaiii commented on #40
I think rather than a flag, you could disable (or enable) a default web interface in the radio config file, and maybe even use a custom webpage to be hosted in the radio instance folder.

[2018-09-24 20:28] AndreasWebdev commented on #40
I guess for the flexibility of the project the core library and any potential control systems should be seperate projects. This way people could simply use something like

`var stream = require('node-stream-radio');

var options = ['gif_folder': '/stream/gifs',
                       'music_folder': '/stream/music'];

stream.startStream(options);`

In any system they want. There could be a node-st

[2018-09-24 20:30] AndreasWebdev commented on #40
@torch2424 I'd be down for a potencial overlay project that hooks into this. It's actually something I tried out a few months back but decided to wait because handling this without a cross-plattform node-api turned out very messy!

[2018-09-25 07:28] torch2424 commented on #40
@Nicholaiii

Actually I agree. Making the config file "git-able" will make maintaining the project much easier.

@AndreasWebdev

I think we should steer towards just a CLI at this point. And that we expose a common endpoint API for these reasons. Like with the standard GET, and POST requests. Decoupling the project into a simple library, would mean we'd need two repos. `pi-stream-radio` vs. `pi-st

[2018-09-25 12:55] Nicholaiii commented on #40
A definite +1 on keeping this a CLI. The userbase is largely comprised of non-developers and I think userfriendliness is a big advantage here. We're not looking to invent a streaming library but a way for people to easily use their hardware as a youtube streaming platform.

[2018-09-25 13:12] AndreasWebdev commented on #40
Definitely what I meant. I was just thinking @Nicholaiii suggested implementing a frontend web interface into the main project which seems kinda messy, especially if you don't want to use a web interface but something different that hooks into the project. Kinda think of mysql, it can come bundled with phpmyadmin but if you will never use it, it might become a security risk and bloated to "just pu

[2018-09-25 18:49] torch2424 commented on #40
Seemed like more of a response to @Nicholaiii so I'll let them respond before chiming in.

But,

I 100% Agree with. 😄 But if I could say, this will probably come after the 2.0.0 rewrite. Maybe in like a 2.1.0

[2018-09-25 18:51] torch2424 commented on #40
Also, any feeling about changing the project name?

I was thinking of putting it up on npm as `pi-stream-radio`. But I like how @AndreasWebdev mentioned `node-stream-radio`.

I want to keep the old name, just for SEO and finding the project. But since the technology is changing a bit, and I am trying to build this for desktop servers as well currently, renaming to `node-stream-radio` would make it

[2018-09-25 19:40] Nicholaiii commented on #40
This is exactly what I was about to suggest before your edit! As an aside; I don't think "bloat" is an issue, if it has an API it already has the amount of "bloat" it takes to include hosting a web controlpanel. A simple vue project for example shouldn't be more 2-300kB with all vendor stuff included.

[2018-09-25 19:45] Nicholaiii commented on #40
As for naming. Hm. I think the general consensus is that naming node packages `node-*` is a bit of a pleonasm (although keep in mind repo name =/= package name)
Definitely keep the name somewhere for SEO as mentioned, but a rename wouldn't be uncalled for.

[2018-09-25 21:57] torch2424 commented on #40
@Nicholaiii @AndreasWebdev

So the only thing that I am worried about "Hey generate me a UI for my stream!" Is that what if they decide to do this step later on? And how do we handle updates for this UI that is built in the UI? I don't know the solution if we go with this approach, but I feel it is important to think about.

Definitely keep the name somewhere for SEO as mentioned, but a rename wou

[2018-09-26 00:45] Nicholaiii commented on #40
Oh, I'm still in favour of including a UI in the main project, but just enabling/disabling it on a project-level basis. In this case, UI updates when the CLI does, and with a tool like [yeoman/update-notifier](https://github.com/yeoman/update-notifier) that's is a trivial task to notify endusers about.

[2018-09-26 09:46] AndreasWebdev commented on #40
@torch2424

It would make sense to name the project node-stream-radio and add the "formerly known" line like you said! It doesn't have to be named node-X but it should be clear that you can use the project with other systems that are not Raspberry Pi's

In that case there could be a seperate webpanel repo that get's cloned if needed. This way webpanel and main system can get updated seperately.

[2018-09-26 09:48] AndreasWebdev commented on #40
@torch2424

Are you talking about a node-level api or a web-based api? On a node-level you could fire events that another app can listen on. On a web-based api you could use websockets or the web-api needs to continuously call an api endpoint.

[2018-09-26 17:43] torch2424 commented on #40
Ooops, I meant more in the sense that, if we release a new version of this UI, how do we provide an upgrad path in our CLI, if we are going to generate out the UI?

[2018-09-27 06:40] AndreasWebdev commented on #40
I guess it would make no sense like that in a node environment, would it?

From my experience, the UI should include the cli as a dependency. If the UI get's updated, it will have the required version of the cli in the package.json which will then get updated accordingly.

If the cli get's updated, the UI is not affected, because the UI is dependent on a certain version of the cli to not break fun

[2018-09-27 08:27] torch2424 commented on #40
Also, about halfway done with version `2.0.0` 😎

<img width="629" alt="screen shot 2018-09-27 at 1 09 45 am" src="https://user-images.githubusercontent.com/1448289/46133088-89a0d500-c1f4-11e8-8249-40a9f2a660fe.png">
<img width="654" alt="screen shot 2018-09-27 at 1 26 59 am" src="https://user-images.githubusercontent.com/1448289/46133089-89a0d500-c1f4-11e8-95ba-672146660581.png">

[2018-09-27 10:16] AndreasWebdev commented on #40
Very good! I guess once you'll ship 2.0.0 we could add issues specifically to the node-build, right? In any case I am eager to try it out!

[2018-09-27 23:41] torch2424 commented on #40
Yes exactly, after 2.0.0, feel free to open issues about any version 😄

[2018-09-30 10:36] torch2424 commented on #40
So, update from me:

Took a relaxing weekend, meaning I just worked on this. Got it all working with `.gif`, `.mp4`, and `.webm`! And it's more performant, I was able to get a 720p stream going on a pi 3! Though I am going to keep the default set to 420

A lot less dependencies as well, only requires the additional `--enable-libfreetype` when building ffmpeg 👍, and the config.json is highly config

[2018-09-30 10:51] torch2424 commented on #40
Also, some other small things to do:

- Allow for an overlay image
- create an icon for the project using emojis, see emojione
- Add emojies to console.logs :)

[2018-09-30 22:03] torch2424 commented on #40
Added the overlay image, as well as some general Emoji stuff. Going to work on the API now.

[2018-10-01 05:51] Nicholaiii commented on #40
Good work on the project so far! I started scaffolding API before the weekend but I've been so busy during I haven't had time to write anything back here. I'll send in a PR to let you know what's there and you can decide on where to go from that.

[2018-10-01 06:53] Nicholaiii commented on #40
Nevermind that, I just saw you commit the api folder so too late again! 😆 Here's [a link to a 7z of it](https://drive.google.com/file/d/1qQN_Po21uj8kbF_Bvtp7n2wZ2qKJWCRS/view?usp=sharing)

[2018-10-01 21:02] torch2424 commented on #40
Oops sorry haha! I'll look over your API code later today, if not tommorow 👍

I'll definitely try my best to implement what you have here, because I'm just lazily throwing together the API right now haha!

[2018-10-02 08:13] torch2424 commented on #40
@Nicholaiii I looked through your API Code, it was awesome!

Since you did it in koa there isn't much I can use there. But I agree JWTs would be good for giving auth to users.

I was thinking of just encouraging users to store admins in the config.json, and checking passwords like that. Maybe even allowing to store basic auth style passwords for users?

[2018-10-02 08:28] torch2424 commented on #40
Ahhh that is what your were thinking? Yeah I was wondering why you added sockets haha! My initial API will all be HTTP requests, but feel free to open a PR for socket support 👍

[2018-10-02 11:50] AndreasWebdev opened #45 "Windows Support"
I thought it would make sense to start an issue for initial windows support for the node-rebuild! I'll be testing the newest code once I am home and report back here. For now, here are some problems I noticed when trying it out a few days ago.

**User-friendly installation**
@torch2424 you once said you want to make the installation to be as easy as possible. On windows, you currently have to down

[2018-10-02 11:51] AndreasWebdev commented on #45
@torch2424 maybe you could add a node-rebuild label or something so the issues-list stays readable with two current versions in development

[2018-10-03 05:58] torch2424 commented on #40
So Just finished the API. It's a simple HTTP REST JSON based api. And instead of doing proper "Authentication", I made it so that you define an api key in the config. That way for frontends going forward, can either ask you for your key when deploying a server side rendered frontend (the proper way), or just ask for the key when you enter the client, and have it stored in localstorage and used for

[2018-10-03 06:01] torch2424 commented on #40
Also @Nicholaiii I think we can definitely still use your code though as a server side rendered frontend. I am only exposing endpoints, while yours appeared to have proper user auth, and support for rendering HTML 😄

[2018-10-03 06:11] torch2424 commented on #45
Awesome! Thanks for opening this.

So to be honest, I don't have any windows dev environments. I only have a PC I rarely use for gaming. So if you would be willing to drive this that would be awesome 👍

So in terms of making it easy for install, I actually already implemented this the other day! You can pass an FFMPEG Binary through the config, so you can place the executable wherever you would li

[2018-10-03 07:44] torch2424 commented on #7
Closing this as we are moving to a version 2.0.0. Can re-open if the issue is still observed!

[2018-10-03 07:44] #7 closed

[2018-10-03 07:44] torch2424 commented on #21
This is closed by version 2.0.0 rebuild That is coming soon!

[2018-10-03 07:44] #21 closed

[2018-10-03 07:45] torch2424 commented on #22
Closing this as we have version 2.0.0 coming out soon. Please use that once it is release 😄

Though, the systemctl stuff still applies!

[2018-10-03 07:45] #22 closed

[2018-10-03 07:46] torch2424 commented on #24
We have version 2.0.0 coming out soon, so this no longer applies

[2018-10-03 07:46] #24 closed

[2018-10-03 07:46] torch2424 commented on #26
We have version 2.0.0 coming out, so this would require a different setup. Please feel free to comment if there is still interest in this. Thank you!

[2018-10-03 07:46] #26 closed

[2018-10-03 07:47] torch2424 commented on #34
Version 2.0.0 is coming out soon and supported this. Please see that once it comes out.

Thank you! 👍

[2018-10-03 07:47] #34 closed

[2018-10-03 07:47] torch2424 commented on #38
Closing this as we have been discussing and rebuilt with version 2.0.0 which hopefully will fix this 😄

[2018-10-03 07:47] #38 closed

[2018-10-03 07:48] torch2424 commented on #31
Closing this because no response, and 2.0.0 rebuilds everything. Please try with the new version coming soon!

[2018-10-03 07:48] #31 closed

[2018-10-03 07:49] torch2424 commented on #39
Closing this from no response, and version 2.0.0 will improve a lot of things. Please try the new version once it is release there! 😄

[2018-10-03 07:49] #39 closed

[2018-10-03 07:49] torch2424 commented on #43
Closing this from no response. Version 2.0.0 is coming soon, please try again with the new version! 😄

[2018-10-03 07:49] #43 closed

[2018-10-03 07:50] torch2424 commented on #35
Closing this from no response, and version 2.0.0 is coming soon, which should fix this. Please try when it verision 2.0.0 is release 😄 Thank you!

[2018-10-03 07:50] #35 closed

[2018-10-03 07:51] torch2424 commented on #27
Closing this from no response. Please try version 2.0.0, it still does the short stream disconnect when switching songs but I've noticed it to be much faster.

Hope that helps, thanks!

[2018-10-03 07:51] #27 closed

[2018-10-03 07:52] torch2424 commented on #45
So I closed all issues, going to push up version 2.0.0 soon that way we are all on the same page haha!

[2018-10-03 09:04] #40 closed

[2018-10-03 17:10] torch2424 opened #47 "Look at other Documentation Hosting things"
https://dev.to/swyx/a-glance-through-docusaurus-docz-and-react-static-47in

[2018-10-04 05:50] torch2424 commented on #47
After reviewing, docz still seems the bestest 😄

[2018-10-04 05:50] #47 closed

[2018-10-04 05:58] torch2424 opened #48 "Allow time specific paths"
Would be cool if you could designate separate paths depending on the time of day. in 24 hour time. For instance in our `config.js`:

[code]

This would be really cool to have time of day events, and music. Such as having exciting music in the day, and slower music at night.

My dream would to have a Live Animal Crossing Music radio, where it plays the correct music to the time of day 👍

[2018-10-04 07:29] AndreasWebdev opened #49 "Documentation"
Hey @torch2424 just letting you know that I forked the documentation and currently rewrite the content of the readme, create some boilerplate pages and write-up a detailled but easy getting-started tutorial! I will probably push a PR later this day!

[2018-10-04 08:09] torch2424 commented on #49
Oh nice! Actually... I also just finished writing docs in #50 , I'm sorry if any of it is similar to what you did 😢

That being said, feel free to move anything your wrote into what I wrote, would gladly pull it in, cause I wrote all of this kinda fast in order to say that I'm "done" with version 2.0 😄 Gonna go and update my stream now with all the new changes haha!

[2018-10-04 08:15] AndreasWebdev commented on #49
I am currently re-forking the project and implement my local changes! Thank god you went more into detail with the APi than the CLI as finished about the same time you pushed #50 with a nice rewrite for the installation.

[2018-10-04 08:38] AndreasWebdev opened #51 "API Endpoint proposal"
I've finished checking out the api documentation and noticed that the endpoints are a bit fuzzy. Maybe they should be streamlined before people start implementations of it.

In detail, my problem is, that /history has it's own top-level endpoint even though it could be grouped with /stream and we have a double-meaning with /radio and /stream (as it is a radio stream, where is the differentiation?)

[2018-10-04 09:50] AndreasWebdev commented on #49
There is now a PR on #52

[2018-10-04 09:54] AndreasWebdev commented on #45
I have worked on the generate function so that it rewrites the paths automatically, however as I haven't created a branch for #52 I need to wait until this gets merged until I can start a new PR with the changes.

[2018-10-04 17:51] torch2424 commented on #51
Oh this makes much more sense haha! Yeah like I said, been working on this late at night, and was trying to just get it done :')

The main reason I did it the original way, is that I was just trying to map the elements in the `config.json` to endpoints essentially, but like you noticed it got ugly.

Feel free to open a PR with docs and the fixes. I'm 100% behind this 😄

[2018-10-04 17:58] torch2424 commented on #49
Awesome! Left a review there 😄

[2018-10-04 17:59] torch2424 commented on #45
Rad. Left a review on the docs update, and then we can pull that in and get windows going 😄

[2018-10-05 07:15] AndreasWebdev commented on #51
Great, I'll work on a PR as soon as #52 is resolved and I can refork the repo (I really shouldn't have worked on my master branch but on seperate branches instead!)

[2018-10-05 17:54] #49 closed

[2018-10-05 17:55] torch2424 commented on #51
#52 Is pulled 👍 And no worries, I've totally been there before haha! 😄

[2018-10-05 22:03] torch2424 commented on #18
Actually found out node media server can do this yay! 🎉

https://github.com/illuspas/Node-Media-Server/issues/57

See the paint with bob project, can even start serving your own stream from an flv:

https://github.com/PaintWithBob/paint-with-bob/blob/master/videoservice/lib/server.js

[2018-10-06 08:32] AndreasWebdev opened #57 "Windows ffmpeg Issues"
It seems as we have multiple issues running the stream on windows, however there are multiple problems here. I'll post the ffmpeg error output for each one.

**Stream tries to load a gif**
Appearently ffmpeg cannot write to a temp folder.

[code]

**Stream tries to load the overlay png**
This one might be a paths thing, I'll look into it!

[code]

[2018-10-06 08:41] AndreasWebdev opened #58 "Cross-Plattform Paths"
This issue is describing a problem with the general functions to construct paths in the entire project. As we're mixing Unix-style and Windows-style paths, it might make more sense to use a unified approach for all paths used.

I'll make some tests with `upath` to see, if this solves the problem. I'll make sure that it works on Windows and can try on my Pi3 as well, though @torch2424 might be a be

[2018-10-06 08:41] AndreasWebdev commented on #57
Both of these problems can be a byproduct of our paths-problem. I've checked out the module upath and will try fixing the paths-problem now. Maybe this will fix this issue as well? I've started an issue on #58 for the paths.

[2018-10-06 08:54] AndreasWebdev commented on #58
This seems to be a different problem with the optimizing gif function and not with the paths!

[2018-10-06 08:54] #58 closed

[2018-10-06 08:54] AndreasWebdev commented on #57
I've narrowed it down to the optimizing GIF function and will report back here!

[2018-10-06 08:55] AndreasWebdev commented on #45
Closed as #56 is not applicable.

[2018-10-06 08:55] #45 closed

[2018-10-06 09:35] AndreasWebdev commented on #57
After implementing os.tmpdir in the gif function I managed to fix that problem. However I am not the best when it comes to ffmpeg, so I am currently struggeling getting complexFilterString to work.

Maybe you @torch2424  can check out https://github.com/AndreasWebdev/live-stream-radio/blob/crossplattform-paths/src/stream/stream.js#L255 I tried isolating the videopath with double quotes but this le

[2018-10-06 10:49] torch2424 opened #60 "Change Default Values, or add a guide to lower quality for pi"
Currently, My pi 3 could not handle the default values.

Right now I have my fps set to 12, and my video size to 360p. And I had to use cpu limit to make sure the project doesn't choke the pi: https://www.tecmint.com/limit-cpu-usage-of-a-process-in-linux-with-cpulimit-tool/

[2018-10-06 13:17] AndreasWebdev commented on #57
The value of optimizedVideo is now `C\:\\Users\\iklik\\AppData\\Local\\Temp\\live-stream-radio-gif-with-pal-1538831690409.gif` and I also checked whether the file exists (it does). However there is still the following output:
[code]

[2018-10-06 14:03] AndreasWebdev commented on #57
I've managed to make the project run flawlessly under Windows Subsystem for Linux, so it's definitely something weird with the paths.. I'll try out other stuff over the next days, however as I have no real idea how to progress further here, I'll move on and try out the API

[2018-10-06 17:37] torch2424 commented on #60
This may have to do with the audio encoding? https://www.raspberrypi.org/forums/viewtopic.php?t=186854

[2018-10-06 17:39] torch2424 commented on #60
https://raspberrypi.stackexchange.com/questions/1466/live-audio-stream-using-ffmpeg

[2018-10-06 17:49] torch2424 commented on #60
https://www.reddit.com/r/raspberry_pi/comments/5677qw/hardware_accelerated_x264_encoding_with_ffmpeg/

[2018-10-06 17:54] torch2424 commented on #60
`-acodec copy` ?

[2018-10-06 17:59] torch2424 commented on #57
So I found this similar issue regarding windows paths:

https://github.com/mpv-player/mpv/issues/4962

And it looks exactly like your issue. It's just having to figure out what needs to be escaped. Ffmpeg is real funny like that :p

But awesome! Yeah thanks again for updating the API! I need to deploy that for you, Though, I'm working on Pi performance currently, so I may bundle that all into one

[2018-10-06 20:56] AndreasWebdev commented on #57
@torch2424 Unbelieveable, this was the hint I needed! Stream is now working on windows using escaped single quotes! Check out PR #62

[2018-10-06 21:07] AndreasWebdev opened #63 "Allow unicode song titles"
There seem to be an issue with unicode metadata (for example japanese characters).

![image](https://user-images.githubusercontent.com/7365286/46575783-80fe8a80-c9bc-11e8-98ea-391fadfa77c6.png)

[code]

[2018-10-06 21:44] AndreasWebdev commented on #63
Seems to be an issue with the Lato font / the cmd font

[2018-10-06 21:44] #63 closed

[2018-10-06 21:49] AndreasWebdev opened #64 "Filter Layer Index"
Overlay Elements (Overlay Text & Overlay Images) should get some form of z-indexing. An example would be an overlay with a dedicated area for the song title. Currently, the overlay will always be over the text.

The order of addition could be either the order of the config (putting the image overlay before the song text would make the text go over the overlay) or Text/Image objects could get an or

[2018-10-06 22:27] AndreasWebdev opened #66 "API: Return 405's instead of 404's when using wrong method"
~~Appearently there seems to be a problem with sub-paths in the API. Calling /stream works on my end while /stream/restart results in an HTTP 404.~~

Maybe we should respond with an HTTP 405 when using GET on POST API calls and vice versa.

[2018-10-06 22:30] AndreasWebdev commented on #66
Edit: /stream/restart is POST not GET, sorry it's getting late here. Maybe we could respond with a `405 - Method not allowed` for stupid people like me though

[2018-10-06 22:39] AndreasWebdev commented on #57
I am going to leave my stream online for the night and see if it ran flashlessly without a crash tomorrow!
https://youtu.be/0K0tfbLkV2I

[2018-10-07 00:43] AndreasWebdev opened #67 "API: Changing config"
Consider an API-call to update content in the config.json as clients might have no write-permission on an external ressource.

[2018-10-07 00:47] AndreasWebdev commented on #57
First crash after around 70 minutes. ffmpeg output:

[code]

I'm 99% sure it's because of the semicolon in the artists name! This means we need to escape metadata heavily before passing it to ffmpeg!

[2018-10-07 00:48] AndreasWebdev commented on #57
Also I've noticed ffmpeg tries to load Montserrat-Regular.ttf insead of my projects defined ttf font.

[2018-10-07 00:50] #57 closed

[2018-10-07 00:54] torch2424 commented on #64
I was JUST thinking about this myself.

I definitely agree, text should go over images. Was just something I had overlooked.

I agree, lets make this configurable down the line, I'll keep this issue open for this, but I'm going to make a bunch of pi performance improvements right now, and then go with that 👍

[2018-10-07 00:56] torch2424 opened #68 "Build a FFmpegSafeString Converter"
See #62 #57

We should just write something with a list of characters that need to be escaped in the context of FFmpeg, and then just automatically convert our strings before passing them.

[2018-10-07 00:56] AndreasWebdev commented on #64
That's great! I'd propose a PR myself but as you may noticed I am still very new to the ffmpeg system so I can only help out with everything around that without breaking everything ^^

[2018-10-07 00:56] torch2424 commented on #64
I'll do this now, and I'll also get your changes published in a bit 😄

[2018-10-07 00:58] torch2424 commented on #67
Honestly, what we should be doing, is just re-requiring the config on every song. Which I'll go ahead and do now. Though in the future we should change this.

[2018-10-07 00:58] torch2424 commented on #66
Oh yeah I am totally for this! Feel free to get this in there since you are comfortable with the API 😄

[2018-10-07 01:01] AndreasWebdev commented on #66
I'll get on it in around 8 hours when I wake up 😄

[2018-10-07 01:03] torch2424 commented on #57
Glad it worked! Stoked you got it working!

And checked out that test channel, looks B E A U T I F U L ! A splatoon radio is an awesome idea. And it looks so professional/legit, stoked to see how far this project has come!

And yeah there seems to be a bunch of weird string issues like that. How about this, lets make a "FFmpegSafeString" converter, that does all of this for us? Opened an issue her

[2018-10-07 01:04] torch2424 commented on #66
Oh yeah no worries at all! You are already doing so much! No expectations on my end, just glad you are down to help with the project 😄

[2018-10-07 01:04] AndreasWebdev commented on #67
Yes this also resolves another problem that you always have to restart the stream to see changes made to the config.

I thought we could maybe add a /config api-call with get and post methods to change the config.json through the api, as the stream might run on external hardware than the client accessing it. I can propose a PR tomorrow if you have nothing against that idea.

[2018-10-07 01:06] AndreasWebdev commented on #66
And I am very happy to be part of this cool project! Your comments and everything really motivate me (you might've seen that ^^)

[2018-10-07 03:05] torch2424 commented on #67
Awesome glad we are in agreement 👍

But yes, I am totally okay with a `/config` route, makes sense to me 😄

[2018-10-07 06:14] torch2424 commented on #68
Simply need to follow this guide: https://ffmpeg.org/ffmpeg-utils.html#Quoting-and-escaping

[2018-10-07 06:15] torch2424 commented on #18
Tried doing this with tee muxing, but didn't work with node fluent ffmpeg. Thus, there is logic for this in the form of "stream_outputs" in the config.json.

[2018-10-07 08:37] torch2424 opened #70 "Link to reccommended bitrates in the docz"
See: https://support.google.com/youtube/answer/2853702?hl=en

Would be a nice guide for users 😄

[2018-10-07 10:22] torch2424 opened #71 "Better errors for initial config try catch"
https://github.com/torch2424/live-stream-radio/blob/47f6d27aa6dba5862f2585d62d23138811cf89b2/src/index.js#L76

This needs to inform users of things for even like json parsing errors. Currently it will always just say the file does not exist

[2018-10-07 10:32] torch2424 opened #72 "Audio still gets cut off by a little bit"
May want to using ffmpeg concat, and just concatting a 3 second audio at the beginning and end of each song. The current flag to delay the input only get the job halfway done

[2018-10-07 10:33] torch2424 commented on #72
Actually it depends on the track, definitely listenable in the current state :)

But this fix would still be nice :)

[2018-10-07 10:38] torch2424 opened #73 "Normalize Audio"
Would be cool to have audio normalized by lufs, that way songs always play around the same volume:

http://peterforgacs.github.io/2018/05/20/Audio-normalization-with-ffmpeg/

Definitely want to make this a config option though, because of audio quality can get worse

[2018-10-07 11:18] AndreasWebdev commented on #57
Good thought with the EntityEncoder!

About that test channel, I currently am in an media designer internship. It's basically my job, thank you for your compliment 😄

Oh, and as this project progresses so well, I decided to start my remote project a bit earlier! [Here](https://xd.adobe.com/view/240a1cb0-e817-4647-4dde-3679b7d35793-523b/) is an early draft of the UI, however I think I need to rewor

[2018-10-07 12:04] AndreasWebdev commented on #64
✅ Working on Windows

![image](https://user-images.githubusercontent.com/7365286/46581484-e6449100-ca39-11e8-8fdc-4cc71fd7cc6d.png)

[2018-10-07 22:32] torch2424 commented on #64
Awesome! Perfect. I'm so stoked for this splatoon radio. Definitely gonna share it with my college roommate. He and I were always jamming to the splatoon soundtrack haha!

[2018-10-07 22:36] torch2424 opened #76 "Add Updated Image to Galaxy Noise Radio"
Image in the README and the Docs is out of date. Would be great if we updated it 👍

[2018-10-08 01:39] torch2424 commented on #73
http://ffmpeg.org/ffmpeg-filters.html#loudnorm

[2018-10-08 05:46] #70 closed

[2018-10-08 05:46] #71 closed

[2018-10-08 05:46] #72 closed

[2018-10-08 05:46] #73 closed

[2018-10-08 05:46] #76 closed

[2018-10-08 13:08] AndreasWebdev opened #78 "Minimal specs for a fluid 720p stream"
As I mentioned, I want to run my radio through a hosted Ubuntu server. I currently struggle to find good specs.

Current server specs:
* Intel Xeon E5-2630 (2 Cores)
* 8GB DDR4 ram

Current config.json params:
* 480x320
* 2000k video_bitrate
* 30 fps
* 32 crf
* ultrafast preset

The stream works quite well, even on higher settings (1280x720 with superfast) but after around 30 seconds the YouTube d

[2018-10-08 13:28] AndreasWebdev commented on #78
Changing some config.json params fixed the "YouTube receives not enough video" issue. However, the stream is still cutting off after a few seconds. YouTube then reports they get no stream data for a few seconds and then goes back to "Stream is good"..

Current config.json:
[code]

[2018-10-08 13:37] AndreasWebdev commented on #78
Upping the bufsize seems to make it better, however I don't think the buffer should be too big, I guess (the default config has it at 960k). So would a server with more cores have less issues?

[2018-10-08 15:54] hyphmongo commented on #78
Maybe take a look at the CRF parameter?

I'm not sure if you can have a specific bitrate as well as a variable bitrate from the constant rate factor

[2018-10-08 16:31] AndreasWebdev commented on #78
tbh. I've just copied the recommended settings from the Raspberry Pi page.

Edit: I've removed the crf setting and the problem persists. It seems to always work for ~35 seconds per song.

[2018-10-08 18:09] #66 closed

[2018-10-08 18:09] #67 closed

[2018-10-08 18:14] torch2424 commented on #78
Yeah I've been messing with performance myself. I made a huge performance update `2.1.1` last night, so maybe try that?

Also, Notice the threads option, you can set some of these to false to turn them off. I would perhaps try settings crf, bufsize, and threads to false so they don't get passed?

I am not entirely sure why this is happening. I noticed that my 2015 MBP at home could do even 1080 ju

[2018-10-08 19:00] AndreasWebdev commented on #78
Don't be sorry, your posts are helpful as always! 😄 Do I have to specifically set them to false? or could I just omit them?

[2018-10-08 19:01] AndreasWebdev commented on #78
Oh and I am usually always running the current master branch cause it's easier to debug with it rather than installing the npm module.. I'd probably do that in a production environment though

[2018-10-08 19:58] torch2424 commented on #64
Oh nice! Yeah that sounds super handy! 😄 Stoked to see it working out!

[2018-10-08 20:00] torch2424 commented on #78
@AndreasWebdev You should be able to just omit them, the code for it is within this group of `if()` statements here:

https://github.com/torch2424/live-stream-radio/blob/master/src/stream/stream.js#L315

Also, was this before or after the `2.1.1` update? Perhaps moving video into its own input slowed things down? Or maybe it the audio normalization?

[2018-10-08 20:22] AndreasWebdev commented on #78
That's super-odd! For the sake of testing (and finally having a 24/7 stream to play around with the api) I build myself a $5 droplet on digital ocean and set up the radio propertly with npm install -g live-stream-radio and all that.. this stream ALSO stops at 30 seconds, take a look at https://youtube.com/user/onestreamtests/live.

On my non-DO server, I have just cloned the repo @master directly

[2018-10-08 20:36] torch2424 commented on #78
Yeah that's super weird.

Last night I just installed the stream on one of my random droplets that Is a $5 one, and it streamed fine for like 5 different songs. Before my account got striked.

Perhaps try one of the builds from this: https://johnvansickle.com/ffmpeg/ That is what I used in my ffmpeg path for ubuntu and it worked fine 😮

If that still is acting up, perhaps try playing with differen

[2018-10-08 20:49] AndreasWebdev opened #79 "Latest update broke Windows support"
Latest update (npm and repo master) broke Windows support again. I am very sure it's something about the paths again!

[code]

[2018-10-08 20:51] torch2424 commented on #79
My bad 😢

[2018-10-08 21:03] AndreasWebdev commented on #78
Alright, using the x86_64 build from https://johnvansickle.com/ffmpeg/ fixed it, so it's some sort of incompatiblity with the package manager ffmpeg version.

I just noticed that the version obtained by `apt install ffmpeg` is an older version!

Working version: 4.0.2-static
30s bug version: 3.4.4

[2018-10-08 21:05] torch2424 commented on #78
Ahhhhh! Awesome! That would make a ton of sense why the pi version is slow too then! 😄

Let's go ahead and add this note in the README and the docs. Saying we suggest FFmpeg version >= 4.0.2 for a smooth stream 😄

[2018-10-08 21:08] torch2424 commented on #78
This means we should also make a new pi build of ffmpeg, and find a place to host it 😮 As I think it is bad practice to commit an FFmpeg build for only Pis on the repo, and force people to download it everytime it changes.

Let's just make a release as it is suggested by Github: https://help.github.com/articles/distributing-large-binaries/

And make it called "Pre-Compiled Tested FFmpeg Builds", a

[2018-10-08 21:44] AndreasWebdev commented on #79
I think we still need to escape the paths somehow, shown by this ffmpeg error output from my DO:

[code]

`Input #1, mp3, from '/home/radio/splatoon-radio/audio/OctoTunes/Disc 1/1.27 The Real Commander Tartar's Theme.mp3':`

Look, that file has an ' in it!

(For now I am renaming all filenames to azAZ09)

[2018-10-08 21:49] AndreasWebdev opened #80 "Subfolder Overlay"
Together with your idea of #48, maybe there could be folder-specific overlays as well? Imagine a radio that has an overlay image and plays music from multiple videogames. The overlay could containe the games logo and change based on which folder music is played from.. this could potentially be very easy if we introduce a variable for the overlay path (kinda like the stream_key variable) that just

[2018-10-08 21:56] torch2424 commented on #79
Ahhh that would make sense. Yeah we really need safe strings, and context of when to use them 😢

FFmpeg can be weird haha!

[2018-10-08 21:58] torch2424 commented on #80
Oh yeah I can totally get behind this, nice idea 😄

[2018-10-08 23:12] AndreasWebdev commented on #78
I have my stream up at https://www.youtube.com/channel/UCSAwpV80AFKopAJC0XAFWeA as a stability test!

[2018-10-08 23:12] #78 closed

[2018-10-08 23:15] AndreasWebdev opened #81 "Graceful error messages"
Right now, whenever the stream returns an error it either stays in the current state and waits for a control+c termination or exits out of the loop completely.

I think as this is a live-stream project, the module should gracefully output errors in an optional log file and restart itself on non-crucial errors (ffmpeg errors out, song/video couldn't be loaded)

[2018-10-09 00:34] torch2424 commented on #81
@AndreasWebdev +1 for a log file, can totally be defined in the config.json

Yeah errors are kind of funny, since We are using node fluent ffmpeg, I noticed it is kinda finnicky.

I actually disagree with that, I think the same could be send for server Applicaitons like express. The expectation is that you use something like [forever](https://www.npmjs.com/package/forever). In my case, I use [syst

[2018-10-09 00:36] torch2424 opened #82 "Mention recommended FFmpeg Version"
This should be done on the README and docs, see the issue: https://github.com/torch2424/live-stream-radio/issues/78

We should boldly (as in make it bold text) say we recommend/require >= 4.2.0 for FFmpeg for performance.

This will fix any headaches down the line.

[2018-10-09 00:38] torch2424 opened #83 "Host some prebuilt FFmpeg"
See #82 and #78

Since we have specific FFmpeg version requirements, would be nice to build and offer FFmpeg for a few platforms, either provided by myself or other users, on a "Mock" release meant only for distributing builds of FFmpeg verified to work on `live-stream-radio`.

[2018-10-09 00:38] torch2424 opened #84 "Allow Absolute Paths / Fix relative paths"
Right now paths are all relative to where it was launched. This should be fixed.

Also, absolute paths don't work in the config.json, since they are just appended to the Current Working Directory

[2018-10-09 06:49] AndreasWebdev commented on #81
The thing I noticed on my stability test is, that fluent-ffmpeg randomly spills out "this file does not exist" and goes into an uncatched exception state where the process is still alive but not doing anything. From my understanding this should be handled on an application context.

I agree with anything that has nothing to do with the stream itself though (like ffmpeg getting confused, config.jso

[2018-10-09 07:12] torch2424 commented on #81
Ahhh in the case where the process hangs yes, we should definitely fix that, but I think by exiting. I'm surprised that fluent ffmpeg does not. I may just add a `process.exit(1)` and force it to exit then 😄

Thanks for clarifying that! I appreciate it 😄

[2018-10-09 09:49] AndreasWebdev commented on #81
I've been trying out forever however it does not seem to accept globally installed npm packages, at least it tries to search for it in my home folder. Do you have an example for using systemd? I only know you can create services with it (like in your linked tutorial) however where would I define it to restart after a crash?

[2018-10-09 16:36] torch2424 commented on #81
Oh yeah! I do! I ended just making a service that logs in as you user, sources your bashrc, and then runs commands. Here's the template I made for it: https://github.com/torch2424/dotFiles/blob/master/.files_templates/systemctl.service

This should fix things for you, and the parts you need to replace are in [] :)

[2018-10-09 22:30] AndreasWebdev opened #86 "Add lsr-wrapper to documentation"
I believe you once said that you want to add projects building ontop of live-stream-radio to the documentation or something.

As I am working on LSRemote, I had to build a nice NodeJS wrapper for the API, so I decided to outsource this part as it's own npm module!

You can find the module [here](https://www.npmjs.com/package/lsr-wrapper) and the repo [here](https://github.com/LSRemote/lsr-wrapper)

[2018-10-09 22:35] AndreasWebdev commented on #11
I believe this is fixed by the interlude videos in the node-rebuild, right @torch2424 ?

[2018-10-09 23:19] torch2424 commented on #86
This is awesome! 🔥

Yeah I'll add this to the docs tonight 👍 Great work! Super stoked on this haha! I like how you are building LSRemote so modular 😄

[2018-10-09 23:29] torch2424 opened #87 "Used a config.js vs a config.json for configuration"
So I messed up, should have not coded this past midnight every night haha!

Just had a relvalation, how we can fix #80 and #48

So I realized the config.json is getting kinda unweildy, and kind of reminds me of trying to figure out configs in OG webpack at this point. And thought it was already a downside of the project to have to manage this config. But it is git-able which is cool! But then I re

[2018-10-09 23:34] torch2424 commented on #87
Actually, we can support both config.js, and config.json. Wouldn't be hard to do, and to maintain, just a single if block in the `index.js` 😄

[2018-10-10 03:29] AndreasWebdev commented on #87
That's an odd thing I haven't seen, yet! how would such an config.js look like?

[2018-10-10 06:03] torch2424 commented on #87
Oh yeah, a lot of build tools will do this (which is where I got the idea). So for example, in animal crossing, lets assume we're doing 24 hour time

[code]

And this could return a different directory everytime the hour changes 😄

[2018-10-10 06:05] torch2424 commented on #87
Gonna code up this feature, feel free to say if you see any problems with this. It does add a level of "needing to know node", but I feel like the current config.json solves what most people are going to want. This would be more for people like you and me that want fine grain control of the stream to add our own cool features 😄

[2018-10-10 06:16] torch2424 commented on #11
Yes! Sorry just saw this, going to close this.

And if this doesn't solve this, then definitely, #87 will 😄

[2018-10-10 06:16] #11 closed

[2018-10-10 06:16] torch2424 commented on #68
closed by #85

[2018-10-10 06:16] #68 closed

[2018-10-10 08:05] torch2424 commented on #83
Closed with: https://github.com/torch2424/live-stream-radio/releases/tag/ffmpeg-builds

[2018-10-10 08:05] #83 closed

[2018-10-10 09:14] AndreasWebdev commented on #87
I think the only problem I thought could occur is the extra step. If you fragment the config, people might get confused when to put stuff in the js and when to put it in the json.

However in your implementation it's more like a config.json override, you can define custom behavior to override config parameters. If we communicate this in the documentation, I think it could work.

[2018-10-10 09:33] torch2424 commented on #87
@AndreasWebdev Yeah definitely, I'm not a fan of fragmenting things 😢 But I feel like this is kind of needed by anyone who may want to add their own "gimmick" to their stream, trying to maintain all of them down the line isn't scalable.

Yes exactly! 😄 I did so in the docs, feel free to check them out in #88 I give an example of myself overriding, and mentioned overriding in another way 😄

[2018-10-10 15:00] AndreasWebdev commented on #86
I mean, whatever helps the main project should be donated to the mass 😄

[2018-10-10 16:21] torch2424 commented on #86
Yeah I 100% agree :)

[2018-10-10 16:22] #48 closed

[2018-10-10 16:22] #82 closed

[2018-10-10 16:22] #86 closed

[2018-10-10 16:22] #87 closed

[2018-10-10 22:36] torch2424 opened #90 "Encourage People to share their streams"
Would be nice to share streams somewhere in the docs so people can check out uses of the software and get inspired 😄

Should add a page in the docs, and a link to said page in the README

[2018-10-11 00:05] torch2424 opened #91 "Make Docz use hashhistory, or store them somewhere else"
Thanks for making me realize @MaxGraey !

https://torch2424.github.io/live-stream-radio/raspberry-pi will 404, need to use hashHistory, or move onto my app server.

[2018-10-11 00:07] torch2424 commented on #91
`hashRouter: true` in doczrc.js 👍

[2018-10-11 05:39] #90 closed

[2018-10-11 07:27] Trobyss opened #93 "UnhandledPromiseReject when using GIFs"
Hi !

Thanks a lot to have create this project ! It works perfectly !
But i have a little node error in my console :

![image](https://user-images.githubusercontent.com/43353685/46787971-58b6b900-cd39-11e8-8e6e-4e2e2df2b460.png)

![image](https://user-images.githubusercontent.com/43353685/46787475-ff01bf00-cd37-11e8-830a-280650f56c4c.png)

Thanks a lot !

Trobyss'

[2018-10-11 10:14] torch2424 commented on #93
Hello!

So it seems like something is going weird with .gifs , Can I suggest just not using gifs for now, they aren't the best for performance, and kept them in there more for legacy support 😄 Will deifnitely fix this once I have the time though.

And currently, I don't know enough FFMpeg to dynamically draw text mid song, but let's say you wanted to change the stream title in between songs, this

[2018-10-11 11:54] AndreasWebdev commented on #93
In that case, feel free to check out the npm package [lsr-wrapper](https://www.npmjs.com/package/lsr-wrapper), a simple wrapper for the api!

[2018-10-12 03:50] #91 closed

[2018-10-12 12:13] AndreasWebdev opened #95 "Testing Suite"
In regards of #93 @torch2424 and I talked about working on tests for this project so we can always be sure everything works as intended even after something else in the system got updated.

We should compile a list of stuff we want to test, I've looked into both unit testing and functional testing in the past, which one would be the most applicable here? From my understanding, unit tests focusses

[2018-10-12 12:16] AndreasWebdev opened #96 "--version should print out the current version"
I've had a hard time updating my existing radios as I wanted to check the current installed version. Maybe we should implement the standard --version / -version / -v (however you want to call it) parameter and just print out the package.json version-code?

[2018-10-12 16:30] torch2424 commented on #96
Haha! I was just thinking about this last night, definitely agree :)

[2018-10-12 18:51] torch2424 commented on #95
So for this project, I just think we need unit tests.

I am a big fan of [Mocha](https://mochajs.org/), and can use a [fastify supertest solution](https://github.com/fastify/fastify/blob/master/docs/Testing.md#testing-with-a-running-server)

In terms of testing the Stream, we should create a mock for `node-fluent-ffmpeg`, and just use that to make sure the correct functions are called. And testing

[2018-10-17 10:31] AndreasWebdev opened #97 "videoutput was not found or already used"
I have yet to investigate this further, but my 24/7 radio stopped two days ago with the following output:

[code]

[2018-10-17 17:58] torch2424 commented on #97
I'm thinking the song title: `drawtext=text='That's a Wrap'`, maybe the apostrophe needed to be escaped?

That, or the filter_complex needs quotes around the command?

[2018-10-26 08:03] torch2424 commented on #96
Closed by #98 😄

[2018-10-26 08:03] #96 closed

[2018-10-26 12:47] Trobyss opened #99 "Problem of performance"
Hi ! with my raspberry, i have a big problems of perfromance... A music that lasts 3 minutes takes more than 10 minutes to be played. The stream is jerky...
Did u have an idea ? (The %CPU of ffmpeg is over 200% when i start)

Trob'

[2018-10-26 14:51] AndreasWebdev commented on #99
Which raspberry pi model do you use? I think even my Pi3 has problems keeping up with a 720p stream so ffmpeg might just be too much for the CPU.

[2018-10-26 14:57] Trobyss commented on #99
Oh okay...
3B V1.2

[2018-10-26 15:29] AndreasWebdev commented on #99
You could try running the 1.X version of this project which has less overhead as it's made in bash rather than nodejs.

[2018-10-26 17:59] torch2424 commented on #99
Thanks @AndreasWebdev ! Everything they said haha!

That, or you can try reducing the output settings. And make sure you are running a recent version of FFmpeg, like greater than 4.0.0 😄

[2018-10-30 12:29] augustpemberton opened #100 "SafeStrings.js doesn't work"
Currently, SafeStrings.js is written as follows:

[code]

it should be this:

[code]

(safeString isn't actually being reassigned to the replaced string.)

[2018-10-30 14:54] AndreasWebdev commented on #100
This would explain a lot actually. I'll implement the changes as soon as I am home! Thank you for catching that, I think I had to work with a different language before writing this so I used the wrong syntax :smile:

@torch2424 another solid argument for tests ^^

[2018-10-30 16:54] torch2424 commented on #100
@augustpemberton Thanks for reporting this! 😄

@AndreasWebdev Thanks for being open to fixing this!

Yeah we definitely need tests. After I finish my JS/Wasm Benchmark on my emulator, and some more tests on that, I'll go ahead and set up a testing thing 😄

[2018-10-30 22:30] #100 closed

[2018-11-03 22:31] wavymate opened #102 "Problem starting"
I get this error when starting the stream: https://imgur.com/0JGPs8C

`ffmpeg stderr:

 ffmpeg version 2.8.15-0ubuntu0.16.04.1 Copyright (c) 2000-2018 the FFmpeg developers
  built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.10) 20160609
  configuration: --prefix=/usr --extra-version=0ubuntu0.16.04.1 --build-suffix=-ffmpeg --toolchain=hardened --libdir=/usr/lib/x86_64-linux-gnu --incdir=/usr/inclu

[2018-11-04 09:16] AndreasWebdev commented on #102
`ffmpeg version 2.8.15-0ubuntu0.16.04.1 Copyright (c) 2000-2018 the FFmpeg developers`

Seems like you have built your own binaries or installed them from apt. Try using the ffmpeg binaries from here https://torch2424.github.io/live-stream-radio/#/cli/getting-started

[2018-11-04 09:19] AndreasWebdev commented on #93
@Trobyss did you manage to fix the issue on your end by not using gifs?

[2018-11-04 09:19] AndreasWebdev commented on #79
i'm gonna close this issue as it referenced an already obsolete version

[2018-11-04 09:19] #79 closed

[2018-11-04 11:47] torch2424 commented on #102
@AndreasWebdev Couldn't have said it better myself! 😄

[2018-11-05 08:05] orophix opened #103 "Audio & Video directory [Support]"
inside config.json:

[code]

Output:

[code]
Why is it forcing it to read the home path etc.. ?

[2018-11-05 08:57] AndreasWebdev commented on #102
@wavymate can you try using these ffmpeg binaries? They are proven to work with this project: https://github.com/torch2424/live-stream-radio/releases/tag/ffmpeg-builds

[2018-11-05 09:01] AndreasWebdev commented on #103
can you try to add a foreslash infront of the mnt? It seems as it's trying to just append your path to your working directory.

`**/home/stream1/chillstation/**mnt/streamstorage/music/chillstation/`

[2018-11-05 09:02] AndreasWebdev commented on #103
Also, does the fs loading even accept absolute paths? I am not sure on this @torch2424

[2018-11-06 05:06] wavymate commented on #102
How would I install it?

[2018-11-06 09:42] AndreasWebdev commented on #102
there mare multiple ways to do it, I personally just unpacked the binaries in a /bin folder of my project

![image](https://user-images.githubusercontent.com/7365286/48055696-7e0bdb00-e1b0-11e8-9ec9-d3d2ba04f954.png)

and set the `ffmpeg_path` config

![image](https://user-images.githubusercontent.com/7365286/48055728-90861480-e1b0-11e8-9eb7-627d4c6502c3.png)

[2018-11-06 09:43] wavymate commented on #102
I'm a little confused, am I able to email you so you can configure this the proper way?

[2018-11-06 09:48] AndreasWebdev commented on #102
Sure I can help you! you can reach me through discord (iKlikla#4975) or email (privat AT andreas-heimann DOT com)

[2018-11-06 12:01] northerndub opened #104 "Stream cut for a few seconds"
I'm on Windows and streaming to youtube, after every song the stream is down for like 1-2 seconds. Is there any way to fix this or is my setup to slow to get the next song going without a cut?

[2018-11-06 21:00] torch2424 commented on #104
Yup perfect response! I want to work on a "single video" mode at somepoint, so this doesn't happen, but that would be way far down the line :)

[2018-11-07 18:56] torch2424 commented on #104
Are you using gifs by any chance? MP4s load better. But yes, no matter what, there will be cuts in the stream. Perhaps I can make it configurable to make the cuts have empty audio before and after? 😄

[2018-11-08 07:32] AndreasWebdev commented on #104
You can also try to disable the latency-free mode on youtube's dashboard to get a 30 seconds delay as a buffer.

[2018-11-08 10:47] northerndub commented on #104
I did try mp4 and gifs and the difference is not significant. The delay only delays the cut.

[2018-11-08 21:32] torch2424 commented on #104
I would try what @AndreasWebdev I personally use that on my Youtube streams in the past, and had no issues 😮

[2018-11-09 10:45] AndreasWebdev commented on #104
Yeah my DigitalOcean always catches up the second of delay.. could you post the config file (without your stream key) in here? @northerndub

[2018-11-09 11:10] northerndub commented on #104
{
  "stream_url": "rtmp://a.rtmp.youtube.com/live2/$stream_key",
  "stream_key": "",
  "ffmpeg_path": "",
  "video_codec": "libx264",
  "audio_codec": "aac",
  "audio_bit_rate": "128k",
  "audio_sample_rate": "44100",
  "normalize_audio": true,
  "video_height": "480",
  "video_width": "854",
  "video_bit_rate": "500k",
  "video_fps": "12",
  "bufsize": "512k",
  "crf": "28",
  "preset": "veryfast

[2018-11-09 19:04] torch2424 commented on #104
@AndreasWebdev the config looks fine, and isn't using any high performance values.

@northerndub Yeah, honestly, this is how live-stream-radio works. I tried looking into how to keep it continuous, but I could not find a way to have an ffmpeg process switch inputs on the fly. I'll keep this open, and feel free to suggest any solutions to this in the code.

[2018-11-12 07:42] AndreasWebdev commented on #104
I've also tried researching it, in the end, programs like OBS can do it as well, so there is got to be a way (though they might have an active video stream that they can manipulate internally)

[2018-11-12 19:04] torch2424 commented on #104
I think what OBS does is take in VLC as an input. And VLC manages that for them?

I can definitely look into that, though, I wouldn't want to add VLC as a dependency

[2018-11-14 10:41] torch2424 opened #105 "Optimize Stream output"
Tried doing this today using the twitch inspector, but honestly, didn't get much out of it, rather than just fiddling with some settings on my config. Though the bitrate may be off, but FFmpeg doesn't support constant bit rates.

Honestly, I'm kind of stumped on how we can optimize the stream output, or at least get some of ita information able to be viewed.

[2018-11-27 16:50] djeraseit commented on #84
This has caused me issues with using the pre-built ffmpeg files. I can't seem to get config.json right. Do I need to copy the directory into the livestream project folder? How do I specify in config.json?

If ffmpeg path is not empty, this error is thrown. I presume because it can't find ffmpeg using the config.json ffmpeg path option.

`(node:11010) UnhandledPromiseRejectionWarning: Error: spawn

[2018-11-27 16:52] djeraseit commented on #84
UPDATE: on ffmpeg_path key in config.json be sure to include the ffmpeg file command (i.e. './extracted-ffmpeg-folder-to-new-stream-directory/ffmpeg')

[2018-11-27 17:02] djeraseit commented on #64
@AndreasWebdev what is LSRemote? A frontend for the api?

[2018-11-27 17:04] djeraseit commented on #18
what is the best way to do this on a pi? Node-Media-Server? I'm used to nginx way but think it will be heavy. Need benchmarks.

[2018-11-27 17:38] djeraseit commented on #93
Yes gifs do not work out the box with this script using default generated assets.

`Playing the audio:
/var/www/youtubeStream/interludes/audio/nestedDirectoriesWork/tapeDeckSound.mp3

Finding/Optimizing video... ▒

(node:14235) UnhandledPromiseRejectionWarning: Error: Error in file: /tmp/live-stream-radio-gif-with-pal-1543340140217.gif

spawn /var/www/live-stream-radio/node_modules/gifsicle/vendor

[2018-11-27 17:45] djeraseit commented on #93
Ok I managed to fix this issue. `example 1.gif` file in interludes directory should be renamed so it does not have a space. Renaming to `example1.gif` works fine. This is probably due to the RFC rule that no spaces in url (it must be urlencoded).

[2018-11-27 18:48] torch2424 commented on #18
Honestly, if you know how to set up the nginx way, that is definitely going to be the best / fastest. But I think keeping the project JS only, and using node media server, would be most convenient for users. 😄

[2018-11-27 18:49] torch2424 commented on #84
I think the ffmpeg path works best if it is absolute. Could you try that?

[2018-11-27 18:50] torch2424 commented on #64
Oops, I think this issue should be closed as I fixed this. But, will let @djeraseit and @AndreasWebdev discuss 😄

[2018-11-27 19:32] djeraseit commented on #93
**UPDATE** Removing .gif file throws this Warning

`Finding audio...

Playing the audio:
/var/www/youtubeStream/interludes/audio/tapeDeckSound.mp3

Finding/Optimizing video...

(node:14637) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'endsWith' of undefined
    at getVideo (/var/www/live-stream-radio/src/stream/stream.js:40:19)
    at <anonymous>
    at process._tickCallback

[2018-11-27 20:36] AndreasWebdev commented on #93
I would think that removing the gif leads to the interludes array being empty. You should disable the interludes if you don't have interlude-videos.

[2018-11-27 20:39] AndreasWebdev commented on #64
@djeraseit it's an application I am currently working on. TLDR: it's an app you can use to configure your livestreamradio without needing to ssh into the server. You could call it a frontend for the api, yes.

[2018-12-19 22:09] konnekkt opened #106 "e is not defined"
Hey first of all, thanks for your great work and sorry for my maybe bad english. Can you help me about this:

ReferenceError: e is not defined
    at Object.<anonymous> (/home/pi/.nvm/versions/node/v8.14.1/lib/node_modules/live-stream-radio/src/index.js:117:15)
    at Module._compile (module.js:653:30)
    at Object.Module._extensions..js (module.js:664:10)
    at Module.load (module.js:566:32)

[2018-12-20 00:50] torch2424 commented on #106
@AndreasWebdev You speak German correct? Maybe you may be best to help out here if you have the time? 😄

@konnekkt So after looking at the line it says to look at: https://github.com/torch2424/live-stream-radio/blob/master/src/index.js#L112

Seems like there is an error getting your `config.json`. Did you generate the project yourself, or perhaps try running everything in another directory? This i

[2018-12-20 08:51] konnekkt commented on #106
Hi, thanks for your fast reply. I tried both, generating it by myself and using the standard. I also installed the ffmpeg 4.xx Version. Just something in my config seems to be wrong. After work i will try to get a better log. Best regards my friend

[2018-12-20 19:15] torch2424 commented on #106
Sounds good! Yeah I think it may be the config, feel free to pass that along whenever you get the chance 😄

[2018-12-21 07:32] AndreasWebdev commented on #106
@torch2424 gonna write bi-lingual for reference purpose here :smile:

@konnekkt Hey, am besten postet du die config.json hier rein, dann kann ich mir das mal anschauen. Achte darauf, deinen Stream-Key rauszunehmen um ihn nicht zu leaken. Wenn du dich mit Englisch schwer tust kannst du gerne auf Deutsch antworten, ich übersetze dann für's Protokoll ^^

_-> Hey, it would be the best if you could pos

[2018-12-21 11:58] konnekkt commented on #106
Grüß dich Andreas, klar mache ich =) Danke schon mal für deine Hilfe!

[config.txt](https://github.com/torch2424/live-stream-radio/files/2702662/config.txt)

[2018-12-21 12:07] AndreasWebdev commented on #106
![image](https://user-images.githubusercontent.com/7365286/50341946-2982ac00-0521-11e9-974e-b9f79106fda3.png)

@torch2424 seems to be a normal config, json is valid, no special chars or anything.

@konnekkt kannst du prüfen, ob man die config json lesen und beschreiben kann? Vielleicht ist sie ja schreibgeschützt?

_> can you check if the config json is readable and writeable? Maybe file access to

[2018-12-22 00:04] snibo13 commented on #106
For me, there was an issue with the pathname. A temporary solution would be putting the config.json file in a folder with the same name as your stream within the stream folder.

[2018-12-22 00:09] snibo13 commented on #106
The issue is with the configJsonPath that is generated in the index. I'm working on a fix, but if anyone wants to try and beat me to it look around line 117.

[2018-12-22 00:32] snibo13 commented on #106
Actually, I found a super simple fix. It gets appends a path to the present directory so just make sure you run the command from the root directory and it should work. You don't need to make any folders or modify the code.

[2018-12-22 00:54] torch2424 commented on #106
@snibo13 Oh awesome! Thanks for proposing a fix! Yeah I need to go back and fix this to be more flexible with all the paths. But if it works, it works for now 😂

[2018-12-23 13:29] robsd opened #108 "Web GUI for easier management"
This is a great project and I'm not sure if this is pushing it but it would be so cool if this project has a web-based GUI to manage the stream audio and video files as well as start and stop the stream. Configurable Wi-Fi options would also be cool. I have been using Volumio quite a lot and something like that would be so cool for this project!

[2018-12-23 16:41] AndreasWebdev commented on #108
The api is capable of doing exactly that if you want to implement your own web ui. Otherwise there are multiple projects in the works, some feature a web ui and some a desktop-like experience, made by other users.

[2018-12-24 06:23] Tresmos opened #109 "Very Simple (i mean very very simple) Control Panel"
idk if its worth adding it to the readme but i've made a simple web panel using my little knowledge about this stuff for live-stream-radio if anyone wants to use it.
https://github.com/Tresmos/live-stream-radio-cp

Any feature requests are welcome but not guaranteed. Pls PR thanks 😁

[2018-12-24 18:46] robsd commented on #108
Ah ok cool, do you have any links the projects? Would love to check them out

[2018-12-25 09:20] torch2424 commented on #108
@AndreasWebdev Actually has a project here to wrap around the API: https://github.com/LSRemote/lsr-wrapper

And was working on a very beautiful web gui a while back for this 😄

[2018-12-25 09:21] torch2424 commented on #108
Also, see #109 ! 😄

[2018-12-25 09:21] torch2424 commented on #109
Oh this is so cool! Thanks for adding this! Yeah definitely this is worth adding to the project. Glad to see other people getting behind the project 😄

[2019-01-23 00:58] jonese1234 opened #111 "Dont Install Node Version Manager as root"
Just Thought i would say that you need to install it as a non root user as using basically using the command sudo or every command as root breaks the install of Live-stream-radio

Thought you should know!

[2019-01-23 05:56] torch2424 commented on #111
Hello! Ah thank you for letting me know, I'll go ahead and make this an issue to update the docs for future reference :)

[2019-01-23 06:08] torch2424 commented on #105
https://stackoverflow.com/questions/42510008/which-is-the-correct-key-frame-intervall-settings-for-ffmpeg-stream-to-periscope

https://stackoverflow.com/questions/43586435/ffmpeg-to-youtube-live

https://raspberrypi.stackexchange.com/questions/78222/ffmpeg-performance-degrades-over-time

[2019-01-23 06:16] torch2424 commented on #105
https://www.youtube.com/watch?v=fqG-cT-LmcY

They use MPD -> Mpd visualizer https://github.com/jprjr/mpd-visualizer -> ffmpeg.

May be a good idea to try something like this, instead of dealing with FFmpeg 😢

[2019-02-08 01:03] dropitlikecross opened #112 "Error did not find a config.json"
Hello,

Some issues trying to start the stream.

Generated as gamingstream. Correct location for config.json should be /home/stream1/gamingstream/ but it's added an extra directory.

[code]

[2019-02-08 10:27] AndreasWebdev commented on #112
Hello, from which directory are you calling the livestreamradio command?

[2019-02-08 22:21] dropitlikecross commented on #112
Ah got it. I was starting from within the folder, needed to start it from outside the folder.
Thank you!

[2019-02-08 22:21] #112 closed

[2019-02-08 23:09] dropitlikecross commented on #103
Has this been updated yet @torch2424 or do I still need to use symbolic links?

[2019-02-09 00:30] torch2424 commented on #103
@dropitlikecross (nice username), unfortunately haven't had time for the project because of my WASM Gameboy thing, and Kingdom Hearts 3. 😞

If possible use Symbolic links for now. Thanks! 😄

[2019-02-09 03:24] dropitlikecross opened #113 "Video Output Low"
So after spending a few hours playing with settings I can't seem to good video output. 796Kbps seems to be the highest I can get.

I'm running this on an azure cloud and I've tried different machines to see if it was a hardware issue, the most powerful one being:

2 VCPUS
7 GB RAM
8 Data Disks
6400 MAX IOPS

Youtube error:
[code]

FFMPEG:
[code]

Config.json

Default settings except changing it to

[2019-02-10 08:18] torch2424 commented on #105
https://www.addictivetips.com/ubuntu-linux-tips/stream-to-twitch-command-line-linux/

[2019-02-10 08:19] torch2424 commented on #113
Yeah I've been having this same problem, and documented at #105 . I've tried all the things above as well. I've found it to be real hit or miss, depending on the device / platform. If you have any ideas, it would be much appreciated. PRs to for any fixes are greatly appreciated for this 😄

[2019-02-10 08:20] torch2424 commented on #105
https://wiki.archlinux.org/index.php/Streaming_to_twitch.tv

[2019-02-10 08:36] torch2424 commented on #105
Maybe even, just get OBS as a requirement?

https://github.com/haganbmj/obs-websocket-js

https://www.youtube.com/watch?v=vBAZXchbI3U&list=PLTEhlYdONYxv1wk2FsIpEz92X3x2E7bSx

EDIT: Won't work, OBS can't run headless: https://obsproject.com/forum/threads/can-you-run-obs-studio-debian-headless-from-the-command-line-in-a-vps.85596/

[2019-02-13 00:36] dropitlikecross commented on #113
@torch2424 ffmpeg does have a CBR value that you can input.

[2019-02-13 04:53] dropitlikecross commented on #113
So on the same machine, with an older revision off ffmpeg I ran into a similar issue but running 4.1  this works without issue.

Is there an easy way to add the extra settings into the script to test?

[code]

[2019-02-13 19:38] torch2424 commented on #113
Yeah definitely, feel free to fork the project, and open a PR with those extra settings you want to add 😄

I tried this same route of using FFMPEG directly, but I just couldn't get it still. Stoked you figured this out! 😄

cc @AndreasWebdev If you have time, you may be interested in this as well 🎉

[2019-02-13 19:39] torch2424 commented on #113
Let me know if you want to open a PR. I'm excited to try this myself. I'll try and report back with my findings later today

[2019-02-14 04:56] torch2424 commented on #105
Found out twitch inspector, 0 average fps is from bandwidth testing 🙃 https://www.reddit.com/r/Twitch/comments/6nhslh/twitch_inspector_always_give_0_under_average_fps/

[2019-02-14 06:15] torch2424 opened #114 "Allow for an endless stream"
After tons of googling. No good way to do this / not possible.

FFMPEG has no real input switching. And will instantly end if an input file, or input URL (was thinking of a udp approach) ends.

Found a promising solution below, which may be worth playing with.

https://stackoverflow.com/questions/42737129/change-ffmpeg-input-on-the-fly

[2019-02-14 06:17] torch2424 commented on #114
Though if we wrote our own video overlay, we could possibly do soemthing like:

https://stackoverflow.com/questions/18618191/ffmpeg-merge-multiple-rtmp-stream-inputs-to-a-single-rtmp-output
https://stackoverflow.com/questions/11453082/how-to-generate-a-2hour-long-blank-video

[2019-02-14 06:22] torch2424 commented on #113
So This will be a bit of a long response:

# Your configuration

So after looking at your command, it doesn't have any parameters that aren't already exposed in the config. If you look through `src/stream/stream.js` you will see every command is there (where some are done by assuming from another).

# Some additional research done by me

So I went ahead and dug around twitch inspector (BTW, don't

[2019-02-14 06:29] torch2424 commented on #99
Closing this as no more discussion 😄 Feel free to ask to re-open.

[2019-02-14 06:29] #99 closed

[2019-02-15 00:13] dropitlikecross commented on #113
@torch2424 Thank you very much for spending the time testing.
 Could you post your modified config file? I'd like to run a direct comparison on azure and see what I get.

[2019-02-15 00:23] torch2424 commented on #113
@dropitlikecross Sure, it's in the PR I linked, but here is the exact file: https://github.com/torch2424/live-stream-radio/blob/52c224caeb7995deebd1dd05eb76ab14d1a9190a/src/generate/template/config.json

[2019-02-16 22:22] #105 closed

[2019-02-16 22:22] #113 closed

[2019-03-01 09:22] JustinFincher opened #116 "'No such filter' Error from ffmpeg"
Hi, first thanks for such a great project to make own streaming radio!

When streaming, my running instance sometimes happened to have a ffmpeg crash, that I think may be related to misplaced font parameter or the quote escaping. (I really don't have a knowledge on ffmpeg here so I am just guessing 🤔)
The current playing song is called `1-09 Don't Worry, It's Okay.mp3`, with song name metadata als

[2019-03-01 19:01] torch2424 commented on #116
Helllo!

So it seems like your FFMPEG is not compiled with all the required libraries. See the [Getting Started](https://torch2424.github.io/live-stream-radio/#/cli/getting-started) in the documentation for either compiling FFMPEG, or downloading a prebuilt FFMPEG with the libraries.

Let me know if that helps! Thanks! 😄

[2019-03-03 06:43] JustinFincher commented on #116
Hi, thanks for the reply, I tried to compile FFMPEG on my machine and the 'No such filter' issue seems to be solved for now (though I deleted the `Don't Worry, It's Okay` song at the first place so I don't have a chance validating that), but there is another `Output with label 'videooutput' does not exist in any defined filter graph, or was already used elsewhere` issue that seems to be similar to

[2019-03-04 13:50] AndreasWebdev commented on #116
I have a slight feeling that it might be the comma in the artists name

[2019-03-04 20:53] torch2424 commented on #116
I agree with @AndreasWebdev This may be an issue with out safe string thing.

@JustinFincher

If you have the chance, feel free to open a PR to fix this 😄

[2019-03-08 17:38] Trobyss opened #117 "AWS EC2"
Hey !
I try to start this project on aws EC2. I install npm, ffmpeg, live-stream-radio. I configure the config.json with my youtube key. But when i execute, i got an error:
ffmpeg:
[code]
[code]
Any idea ?

[2019-03-08 17:51] Trobyss commented on #117
Oh i juste find my error... I creae a wrong allias of ffmpeg in /bin

[2019-03-08 17:51] #117 closed

[2019-03-12 08:33] AndreasWebdev commented on #117
Let me know how well this project works on AWS EC2 and how much it costs you, I am still on the lookout for the cheapest way to host my radios.

[2019-03-17 09:17] Sumonil opened #118 "Invalid argument"
Hello, i have this error when i'm trying to start a stream:
ffmpeg err:

 Error: ffmpeg exited with code 1: Error initializing complex filters.
Invalid argument

    at ChildProcess.<anonymous> (/usr/lib/node_modules/live-stream-radio/node_modules/fluent-ffmpeg/lib/processor.js:182:22)
    at ChildProcess.emit (events.js:197:13)
    at Process.ChildProcess._handle.onexit (internal/child_process.js

[2019-03-17 20:23] tengufromsky opened #119 "Problem with installation (gifsicle)"
I'm complete newbie in manual installation node.js programs.
But I already have a problem with `npm install -g live-stream-radio`:

[code]

my system is Linux Manjaro (arch-based) and i already do `nvm install --lts`

[2019-03-18 10:39] AndreasWebdev commented on #119
you should try running the npm command through sudo, it seems like you have no access to the global nvm/npm folder `⚠ EACCES: permission denied`

`sudo npm install -g live-stream-radio`

[2019-03-18 11:14] tengufromsky commented on #119
Sorry, I forgot to say that I ran the installation command with `sudo`. This problem still exists.

[2019-03-18 13:14] torch2424 commented on #118
Hello!

did you build your own binaries or installed them from apt? (the ones on apt are heavily outdated, you need at least ffmpeg 4.2.0). Try using the ffmpeg binaries from here https://torch2424.github.io/live-stream-radio/#/cli/getting-started

[2019-03-18 13:16] torch2424 commented on #119
Hello!

So have you seen the CLI getting started?

https://torch2424.github.io/live-stream-radio/#/cli/getting-started

What you may want to do is try setting up nvm, and what I personally do is set up npm to not require sudo: https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md

This sets up npm to use a directory in my home folder, and I find that to be the easiest to ma

[2019-03-28 16:12] ALegitCookie opened #120 "After attempting to start the stream I get an error with ffmpeg"
Error: ffmpeg exited with code 1: Error initializing complex filters.
Invalid argument

    at ChildProcess.<anonymous> (/home/pi/.config/versions/node/v10.15.3/lib/node_modules/live-stream-radio/node_modules/fluent-ffmpeg/lib/processor.js:182:22)
    at ChildProcess.emit (events.js:189:13)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:248:12)

This is on a Raspi 3 Model B+

[2019-03-28 16:15] ALegitCookie commented on #120
I'm also getting this error sometimes too:

(node:26654) UnhandledPromiseRejectionWarning: Error: Error in file: /tmp/live-stream-radio-gif-with-pal-1553789624949.gif

spawn /home/pi/.config/versions/node/v10.15.3/lib/node_modules/live-stream-radio/node_modules/gifsicle/vendor/gifsicle ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:240:19)
    at onErrorNT (internal/c

[2019-03-28 18:59] torch2424 commented on #120
Helllo!

So it seems like your FFMPEG is not compiled with all the required libraries. See the [Getting Started](https://torch2424.github.io/live-stream-radio/#/cli/getting-started) in the documentation for either compiling FFMPEG, or downloading a prebuilt FFMPEG with the libraries.

Let me know if that helps! Thanks! 😄

[2019-03-28 21:13] ALegitCookie commented on #120
I downloaded the pre-built ffmpeg you provided, but I'm not sure how to install it. The readme and the Install guide provided are very confusing. I'm quite new to this. Is there a place I could find a guide on how to install it?

[2019-03-28 21:30] ALegitCookie commented on #120
I'm not getting any ffmpeg errors anymore, just stuff about node.js and gifs (look at my above comment where I pasted the second error i've been getting)

[2019-03-29 14:19] AndreasWebdev commented on #120
`gifsicle ENOENT`

Are you sure you have gifsicle installed propertly? The nodeJS error says it can't find it.

[2019-03-29 15:20] dropitlikecross opened #121 "Dynamic Overlays"
Hello All,

Wondering if anyone has successfully been able to add overlays from streamlabs and other sites or if ffmpeg even supports this? There's not too much information online about it so I thought I'd ask here.

[2019-03-29 16:40] AndreasWebdev commented on #121
To add streamlabs overlays you'd need a browser that renders the overlay and feeds the rendering output into ffmpeg. I do not believe it's easy to do that though.

[2019-03-29 19:15] torch2424 commented on #121
Agreed with @AndreasWebdev

Streamlabs (as I understand), would require a browser.

But this gets me thinking, with pupeteer, maybe that's something we can do? 🤔

[2019-03-29 19:20] torch2424 commented on #120
@ALegitCookie Ah,

Well you have in your output logs that you have: `Error: ffmpeg exited with code 1: Error initializing complex filters.`. Which is a sign the FFMPEG isn't working.

I'd suggest looking over the [Getting Started](https://torch2424.github.io/live-stream-radio/#/cli/getting-started) guide like I mentioned. It does take a bit of linux / node "know how" to get the project going. So p

[2019-03-29 19:35] ALegitCookie commented on #121
Streamlabs support would be crazy, would love to see that supported on the Mac/Windows builds in the future 😸
Plus, if Raspis get more powerful in the future, maybe it would be possible to to that on them 🤔

[2019-03-29 20:08] AndreasWebdev commented on #121
@torch2424 does puppeteer allow an output of a stream? From a quick glance on the project, I only saw a screenshot function, not sure if it can operate at 30FPS though...

[2019-03-29 21:07] torch2424 commented on #121
@ALegitCookie Thanks for the workaround!

@AndreasWebdev I think I saw something in the past about piping a chrome window through FFMPEG. But maybe I had a dream about it 😂

[2019-03-29 23:03] AndreasWebdev commented on #121
@torch2424 dreaming of ffmpeg? must've been a nightmare.. in any ways, no thoughts on either option for splitting right now, it depends on what you want this project to be. It would obviously open up quite a lot of possibilities, but it would be needed to change the scope.

[2019-04-08 06:09] torch2424 commented on #121
@AndreasWebdev

HAHAHAHA 😂 Probably was 😂

Yeah true. I'll ask around for advice on this. I could see us doing this with like a flag, or even a new command (E.g `live-stream-radio start --browser` or `live-stream-radio serve ./some-html-file`). But pupeteer is a huge install. Wouldn't know a good way to handle this. Though, we could just go ahead with a 2.0 that dynamically `npm install's` dependi

[2019-04-08 13:56] ar82249728 opened #123 "RPI 3b+ : exact install explanation"
Hello,

I used the previous script of piStreamRadio.
All worked good on my RPI3b+.
I don't understand the new files of piStreamRadio.

QUESTIONS :

1. Can someone give me the exact sequence of command line to install the new piStreamRadio on Raspberry pi ?

2. Where can I download and install the previous version of piStreamRadio ?

Thank for your help !

[2019-04-09 00:31] torch2424 commented on #123
Hello!

So the new `piStreamRadio` depends on node, and honestly, makes it a more complex project to get up and running, but it has much more features / fine grain control. [Head over to the documentation if you want to try it out](https://torch2424.github.io/live-stream-radio/#/).

But if you just want to use the old piStreamRadio, here is the [last old piStreamRadio Release](https://github.com/t

[2019-04-09 11:56] ar82249728 commented on #123
@torch2424 Thank you for your answer.

As I'm not enough qualified to use the new script, I will try to use the previous thanks to your linK.
Thanks a lot ! :)

[2019-04-09 20:10] torch2424 commented on #123
@ar82249728 You are welcome! 😄

I'll go ahead and close this issue. Feel free to reopen this if you need anything else! 👍

[2019-04-09 20:10] #123 closed

[2019-04-09 20:14] torch2424 commented on #121
So I talked to a colleague of mine on this issue for an upgrade path if/when we get the time to experiment with pupeteer. But we came to the agreement something like this would work:

1. Experiment with puppeteer. Make sure it actually works.
2. Create an intent to implement (I did this with the node rewrite actually). For the pupeteer version.
3. Make the repo a mono repo with all three code base

[2019-04-10 00:07] AndreasWebdev commented on #121
Sounds good to me. It could be the next "chapter" in this project, I can see this feature alone make this project much more usable for a lot of use cases. Of course we would close off some other use cases, but that's the price to pay ^^

[2019-04-10 06:05] torch2424 commented on #121
@AndreasWebdev Yeah, definitely. I think we can direct users (like for example, if a pi can't handle running puppeteer and ffmpeg), we can direct them to 1.0. Which could still be updated by other users who are interested in using a pi 😄

[2019-04-10 12:28] dropitlikecross commented on #121
@torch2424 No worries, I've been reading the messages as they come in. :)
I also think this the next step the project needs to take and it will bring a lot of the missing features. It might even make us a contender with OBS.

If you need infrastructure resources let me know.

[2019-04-10 20:34] AndreasWebdev commented on #121
@dropitlikecross it could very well compete with OBS in the "live server" configurations. OBS tends to not run well unmaintained for longer than a few hours so this project could definitely evolve into a solution for all the FlareTV's out there who plan to have 24/7 livestreams with high customizabilities. So definitely keep the focus on the "always on" principle of the livestream radios (rather t

[2019-05-06 22:09] between2d opened #124 "Best config settings?"
Hi!
Using the default settings, the stream was working ok, albeit with classic youtube error of "Stream is not optimized". When I changed the settings to 1280x720, I started getting this ffmpeg error after a couple seconds of streaming:

I saw in another thread ( #120 ) that updating ffmpeg would help. I updated it and specified the path in the config.json file, but I'm still getting the same erro

[2019-05-07 02:26] torch2424 commented on #124
@between2d So in my opinion, the settings are kinda subjective, and really hit or miss depending on your stream and things. I say just trial and error to test what works for you.

My apologies for not having a definitive answer. I found that the default settings tend to be a good "one size fits all" with alright performance, but we can keep this issue open for discussion and sharing configs 😄

[2019-05-07 03:13] between2d commented on #124
I tried going back to the original config and I'm still stuck with

Could it be a problem with fluent-ffmpeg?

[2019-05-07 10:30] AndreasWebdev commented on #124
ffmpeg getting killed with a SIGKILL is always something your operating system does. From a short google on similar issues, it seems that the system terminates FFMPEG if it's too memory-consuming. Could you try to stream and watch your server's statistics (cpu usage, ram usage etc)?

[2019-05-07 14:02] between2d commented on #124
You're right! I removed some bloat and GUI and now it was running smoothly! Thanks!

[2019-05-07 14:02] #124 closed

[2019-05-07 15:05] between2d opened #125 "ffmpeg videooutput error"
Hi again!
I'm still learning, but with this error, I don't even know what to look for, hahah. Can anyone help me out?

[2019-05-07 17:33] torch2424 commented on #125
Hmmm cc @AndreasWebdev As they tend to be good with these 😂

But our general response is, when it comes to video errors, is you FFMPEG Compiled with all the correct filters and things? That, or perhaps the video has some strange characters in it, and our "safe string" function messed up.

Let me know if that helps! 😄

[2019-05-08 10:23] Trackerus commented on #125
Hi, Had the same issue.
Check your 7CLERKS.mp3 Tags for any special characters.
Especially ' is making problems.
I think this should be addressed in the call itself.
It would be nice to escape this.
Regards, Trackerus.

[2019-05-08 18:13] torch2424 commented on #125
@Trackerus Thanks for the help! 😄

@AndreasWebdev Yeah we should 😂 Hopefully I'll find the time sometime soon 👍

[2019-05-12 00:50] between2d commented on #125
that was exactly it! thanks!

[2019-05-12 00:50] #125 closed

[2019-05-12 01:04] between2d opened #126 "Stream always stopping after 12 hours (youtube)"
Hi again!
I'm noticing that my stream always goes offline after around 12 hours. It gives me this error:

any ideas?

[2019-05-12 11:07] AndreasWebdev commented on #126
Did you get any output from ffmpeg (usually a wall oftext with errors)?

[2019-05-13 18:43] torch2424 commented on #126
@between2d

So I did some research in the past, and I can't find the issue I closed that mentioned it. But this is on Youtube's end. They tend to just kill off (by closing the connection for a few seconds) of any long running streams after a while, and it's kind of random when they do it. Personally, my streams can get killed anywhere from like 6 hours, to like 6 days.

Feel free to look through t

[2019-05-18 17:31] AndreasWebdev commented on #126
My theory is, that YouTube kills off your connection once their servers switch around in their server centers. I know FlareTV (the person who had the 24/7 Pewdiepie vs. T-Series stream which was live from september 2018 till april 2019) had similar problems.

[2019-05-25 04:46] torch2424 commented on #121
Was thinking about this today and found this: “How to use headless chrome to screencast audio and video to an RTMP endpoint” by Sebastian Pereyro https://link.medium.com/qGCVJKJ8XW

It's totally possible, and apparently, pupetteer isn't too bad on a raspberry pi 3 🤔

[2019-05-25 04:48] torch2424 commented on #121
And oh shit, electron does exactly what we need it to 😂 https://github.com/cypress-io/cypress/issues/1767

[2019-05-27 12:00] AndreasWebdev commented on #126
I'm gonna close this issue due to inactivity (and because of the mentioned thoughts that it might be something on YouTube's end).

Feel free to reopen this issue if you believe this issue happens because of live-stream-radio.

[2019-05-27 12:00] #126 closed

[2019-06-08 14:30] between2d opened #127 "Way of automatically updating the rtmp stream key?"
First off, you guys (especially @torch2424  and @AndreasWebdev ) have been amazing in all the effort you guys have put into this. Really grateful for everything you guys do!

I have some questions about keeping the stream going 24/7:
1) In order to keep the stream going 24/7 (for real) ideally I'd have a backup stream going to the same rtmp, right? I could do this with a(nother) VDS right?
2) I th

[2019-06-09 20:14] torch2424 commented on #127
Thank you! :smile: Super stoked to see this and means a ton! :+1: I'm sure @AndreasWebdev Will be super stoked to see this as well :smile:

Oooo. So to be honest, I haven't done any "real" 24/7 load proxying fancy stuff for my streams to be honest :cry: So I don't have much advice here.

Huh your rtmp stream key is changing? I've been using the same one for my current stream for like months. :thin

[2019-06-10 23:51] AndreasWebdev commented on #127
Hey there, very exciting to see me mentioned in here :)

But I'm not only here to be excited, so, about your issue. Are you trying to stream to any RMTP server or YouTube specifically. If you do stream to YouTube, what you have to do is create a YouTube Livestream "Event" (basically a pre-setup and planned stream). You setup title, description and thumbnail and use the RMTP key provided in there.

[2019-06-24 20:16] torch2424 commented on #121
Pi 4 was just released, https://www.raspberrypi.org/products/raspberry-pi-4-model-b/ which totally should be able to run an electron rewrite (I would assume, specs look nice)

And I just saw https://github.com/guysoft/FullPageOS which maybe we could do with electron? 😄

[2019-06-24 20:38] ALegitCookie commented on #121
This sounds very promising and i'm looking forward to the possible update!

[2019-06-24 21:01] AndreasWebdev commented on #121
Guess who's gonna buy a new RasPi in august?

[2019-06-24 21:05] ALegitCookie commented on #121
@AndreasWebdev Guess who else is gonna buy a new RasPi in august?

[2019-09-03 00:38] StoneCypher opened #129 "docz current release has more than 200 vulnerabilities"
Installing your project comes with 372 vulns.

Update `docz` and it's 256 vulns.

Remove `docz` and it's 29

Consider another doc generator

[2019-09-03 00:40] StoneCypher commented on #129
![image](https://user-images.githubusercontent.com/77482/64136720-920c7300-cda8-11e9-9ea7-b5e627f4256e.png)

![image](https://user-images.githubusercontent.com/77482/64136732-a2245280-cda8-11e9-9818-0b5b369e09e5.png)

![image](https://user-images.githubusercontent.com/77482/64136739-b23c3200-cda8-11e9-9060-456e1f15e3fb.png)

[2019-09-03 00:50] StoneCypher commented on #129
lol i went to try to pitch in at docz, and they just published with no github link or readme

![image](https://user-images.githubusercontent.com/77482/64137003-317e3580-cdaa-11e9-9f57-6de28dce3bd6.png)

[2019-09-03 01:47] StoneCypher commented on #129
Huh.  On bumping imagemin and gifsicle, that's down to 26.  This might be about cross-dependencies.

Lol npm

[2019-09-03 04:52] StoneCypher commented on #129
Okay I've got this down to zero (stopped for dinner)

Now to figure out how to try this to see if it's actually still working.  [Will open a PR](https://github.com/torch2424/live-stream-radio/compare/master...StoneCypher:master) once it's tested

[2019-09-05 05:55] torch2424 commented on #129
@StoneCypher Oh yeah thanks for opening this! :+1:

Yeah it's mostly because I unfortunately haven't had much time to do much with this project since I've been really focused on the WebAssebly ecosystem right now in all my open source / free time :cry:

But I super appreciate you doing this and updating the dependencies in the package json! Feel free to open a PR when this is done, and I'd be stok

[2019-09-09 00:05] StoneCypher commented on #104
Here are some approaches to switching ffmpeg inputs on the fly, which is the correct solution layer.

[Hot junction .3gp](https://unix.stackexchange.com/questions/454580/ffmpeg-change-input-without-stoping-proccess)

[Use HTTP Live Streaming](https://stackoverflow.com/questions/42737129/change-ffmpeg-input-on-the-fly)

[Multiplex through mpeg-ts](https://stackoverflow.com/questions/32972903/switch

[2019-09-09 00:05] StoneCypher commented on #104
You can also do it manually with [streamselect](https://ffmpeg.org/ffmpeg-filters.html#streamselect_002c-astreamselect) but that's pretty difficult

[2019-09-09 17:49] torch2424 commented on #104
@StoneCypher Woah! Dude I've been looking for a solution for this for like forever, I am soooo stoked you found these!

Keeping it real, I have been super busy in other projects involving WebAssembly. Thus, I'd honestly try these out because they seem like they would work. Particularly, the HLS looks the easiest / simplest to do. But I doubt I'd have the time until I get some vacation days from my

[2019-09-18 00:46] dropitlikecross commented on #18
Also if you are lazy, restream.io provides a free service that basically does this.

[2019-09-18 06:54] dropitlikecross opened #130 "UnhandledPromiseRejectionWarning"
Just ran a fresh install and when I try to load I get:

`(node:57013) UnhandledPromiseRejectionWarning: Error: File not found: undefined
    at Object.<anonymous> (/home/stream1/.nvm/versions/node/v10.16.3/lib/node_modules/live-stream-radio/node_modules/strtok3/lib/index.js:28:19)
    at Generator.next (<anonymous>)
    at /home/stream1/.nvm/versions/node/v10.16.3/lib/node_modules/live-stream-radi

[2019-09-18 10:22] AndreasWebdev commented on #130
Can you provide an output of your project folder?

[2019-09-19 00:40] dropitlikecross commented on #130
Where's that kept @AndreasWebdev ?

[2019-09-19 10:16] AndreasWebdev commented on #130
Did you generate a project as shown [here](https://torch2424.github.io/live-stream-radio/#/#generating-a-stream-project)

[2019-09-19 11:52] dropitlikecross commented on #130
Yes, are you just after this?
`audio  config.json  fonts  interludes  live-stream-radio-overlay-image.png  video
`

[2019-09-20 23:39] dropitlikecross commented on #130
Turns out it doesn't like symbolic links in the audio and video folders.

[2019-09-20 23:39] #130 closed

[2019-09-21 00:30] dropitlikecross opened #132 "Crash Script?"
Anyone have a script that restart the live stream if it crashes?

I wrote a dirty one but if someone has something nicer it would be better:

[code]

[2019-09-21 07:38] dropitlikecross opened #133 "Stream stops after each track ends"
The stream plays 1 song then stop the stream. Restarts and plays the next stream. Anyone have this problem and know of a resolution?

[2019-09-23 18:13] torch2424 commented on #132
So What I usually use is [systemd](https://www.digitalocean.com/community/tutorials/systemd-essentials-working-with-services-units-and-the-journal). You can set this up to run on boot, and automatically run again if it crashes 😄

Here is my example systemd unit I use for everything: https://github.com/torch2424/dotFiles/blob/master/.files_templates/systemctl.service

[2019-09-23 18:16] torch2424 commented on #133
Ahh so this is the sam issue as: https://github.com/torch2424/live-stream-radio/issues/104 We have a discussion ongoing there, and thankfully @StoneCypher Has proposed a solution! I just haven't had the time to try it out (I've been moving and doing other open sourc estuff 😿 )

So I'll close this issue, and feel free to add some suggestions or problems there.

Also, if this is a different issue, f

[2019-09-23 18:16] #133 closed

[2019-09-23 18:17] torch2424 commented on #118
@Sumonil Did you re-open this because my suggestions did not work? Or did you have more questions about this issue? 😄

[2019-09-25 15:50] #118 closed

[2019-10-01 09:01] magvay opened #134 "ffmpeg error on start streaming"
$ uname -a
Linux magvay-pc 5.2.11-1-MANJARO #1 SMP PREEMPT Thu Aug 29 07:41:24 UTC 2019 x86_64 GNU/Linux

$ live-stream-radio --start magstream
Using the config.json at: /home/magvay/magstream/config.json

API Started at: http://127.0.0.1:8000

████████████████████████████████████████████████████████████████████████████████████████

Starting stream! 🛠️

Streaming to: rtmp://a.rtmp.youtube.com/live

[2019-10-04 18:00] jhin1m opened #135 "Missing stream_url or stream_key in your config.json ! 😟 Exiting..."
Please help me, i got some problem...
I put my stream key and stream url, saved it and can't start my stream.

this my cmd
![1](https://user-images.githubusercontent.com/24205147/66229149-b5d91680-e6d0-11e9-9c96-0818dd275ad6.PNG)
this my config file
![3](https://user-images.githubusercontent.com/24205147/66229156-bc678e00-e6d0-11e9-9867-f0e17aa8fbe8.PNG)

[2019-10-04 18:06] jhin1m commented on #135
I just fixed. Close case

[2019-10-04 18:06] #135 closed

[2019-10-10 07:20] AndreasWebdev commented on #134
Hey there, none one the "common" problems people have.

A SIGSEGV indicates that something is accessing memory wrong, it's a segmentation fault error. My gut feeling tells me, that the FFMPEG nightly build you used has a bug which throws this. From your error log I can see that the SIGSEGV appears in the fluent-ffmpeg connection, so there is nothing wrong with your live-stream-radio install.

[2019-10-10 07:22] AndreasWebdev commented on #134
Checked around in the ffmpeg bugtracker and found this, might be related: https://trac.ffmpeg.org/ticket/8181

[2019-10-15 22:06] torch2424 commented on #134
Thanks! @AndreasWebdev 😄

[2019-10-16 17:56] #132 closed

[2019-10-16 17:57] #93 closed

[2019-10-16 17:58] #97 closed

[2019-10-16 18:00] AndreasWebdev commented on #106
I'll close this issue for clarity, feel free to reopen it if you have any more questions :)

[2019-10-16 18:00] #106 closed

[2019-10-16 18:00] AndreasWebdev commented on #108
I'll close this issue for clarity, feel free to reopen it if you have any more questions :)

[2019-10-16 18:00] #108 closed

[2019-10-16 18:01] AndreasWebdev commented on #109
I'll close this issue for clarity, feel free to reopen it if you have any more questions :)

[2019-10-16 18:01] #109 closed

[2019-10-16 18:03] AndreasWebdev commented on #116
I'll close this issue for clarity, feel free to reopen it if you have any more questions :)

[2019-10-16 18:04] #119 closed

[2019-10-16 18:05] AndreasWebdev commented on #120
I'll close this issue for clarity, feel free to reopen it if you have any more questions :)

[2019-10-16 18:05] #120 closed

[2019-12-05 14:35] ammarr00 opened #136 "Raspberry pi4"
Is this optimized for raspberry pi 4? First try went well (https://www.youtube.com/watch?v=QtTKaHGvtlA), but now its messed up (https://www.youtube.com/watch?v=jVzeKYtzZ2c). Looks like it works after a while again after being turned on, and gets worse once again (https://www.youtube.com/watch?v=lbk8L7FbQHw).

[2019-12-06 01:27] torch2424 commented on #136
Hello!

So I haven't personally tried this on a raspberry pi 4 yet. But one thing you can try is the [original release](https://github.com/torch2424/live-stream-radio/tree/1.2.0), which was optimized for Raspberry pi specifically 😄 Let me know if that helps!

[2019-12-06 13:13] AndreasWebdev commented on #136
It's odd that it only happens to the video layer. Everything else seems to render fine and the audio is also good

[2019-12-19 00:18] oddnebula opened #137 "EACCES Error"
Hi, I've been trying to setup a live stream for a while now but whenever I try to start it I get the following error:

ffmpeg stderr:

 undefined
ffmpeg stdout:

 undefined
ffmpeg err:

 Error: spawn /home/pi/Downloads/live-stream-radio-ffmpeg-builds EACCES
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
    at onErrorNT (internal/child_process.js:456:16)
    at proce

[2019-12-20 11:49] AndreasWebdev commented on #137
Please confirm that the ffmpeg build is executable. You can do that by running `sudo chmod +x FILE` where FILE refers to the ffmpeg build.

[2020-01-03 07:13] torch2424 commented on #137
@oddnebula Did @AndreasWebdev suggestion work for you? Can we close this issue? :smile: Let us know if so! Thanks!

[2020-02-06 15:49] stefanbaranowski opened #138 "Buffering Consistant on 3 Different Pi Models"
Hi,

I was recently able to implement the project onto my Pi 3 B+, but have encountered a buffering issue when casting the live stream.

I have also tried this on a Pi 3 A+ as well as a new Pi 4 4gb RAM model, however the buffering remains.

I've recently upgraded my broadband at home to receive on average 14mb upload speed and have the Pi plugged in via ethernet cable.

When I enable the live str

[2020-02-06 15:54] stefanbaranowski commented on #138
I would also like to add that when I change the Audio_Codec to 'libfdk_aac' within the .json file (following the instructions within the installation of Live-Stream-Radio) the stream is unable to play.

I wasn't sure if this could be the issue due to not fully optimizing for Pi.

Thanks.

[2020-02-12 12:41] devanteayris opened #139 "Each song switch initializing "starting stream" resulting in buffer on video."
Is there a way to for the video to continue streaming without any stops when the song changes w/ video?

![Capture](https://user-images.githubusercontent.com/38602000/74335721-c7959d80-4dd7-11ea-8af0-b23b83df129a.PNG)

[2020-02-13 10:43] AndreasWebdev commented on #139
As of right now, this project restarts the stream after every song and doesn't stream "nothing" in between. This is currently working as designed, however, we thought about reworking this project to fix this issue.

You can try playing around with the `bufsize ` config though, it might solve your issue!

[2020-02-13 10:49] AndreasWebdev commented on #138
Most of the times, "Video Output Low" means your device isn't fast enough to render the needed frames for the stream. As a first test, you might want to try using mp4 files rather than GIFs, I believe decoding them was faster. Another thing you could do is post your config in here (without your stream key) so we can take a look at your setup.

[2020-02-13 10:51] AndreasWebdev commented on #137
Closing this issue as there is no activity in here.

Feel free to open another issue if the problem persists!

[2020-02-13 10:51] #137 closed

[2020-02-15 12:41] stefanbaranowski commented on #138
Hi, thanks for your reply!

I am currently set up on my Pi 3 B+ with a steady 14mbps upload speed via ethernet. The stream is live but is constantly buffering after 2-3 seconds.

I am using a 3.4mb WebM file as my video clip.

Here are the properties currently set within my .json file.

{
  "stream_url": "rtmp://a.rtmp.youtube.com/live2/$stream_key",
  "stream_key": "xxxx-xxxx-xxxx-xxxx",
  "ffmpe

[2020-03-26 10:03] dropitlikecross commented on #121
Can across this old project which I thought was interesting:

https://github.com/JamesTheHacker/Facebook-Live-Reactions

[2020-04-01 07:21] torch2424 commented on #121
@dropitlikecross Oh nice! Thanks for sharing that :smile: Yeah seems to also be using ffmpeg, hopefully we can learn something fro the way they are using it :smile: :+1:

[2020-04-16 18:21] beamercola opened #140 "Tracking down a takedown notice"
Is there any way to track down what track was playing when a takedown happens?  I'm streaming existing youtube videos, but not sure how to remove the offender.  Putting it back live I feel like will just get me a permanent ban.

[2020-04-16 21:04] torch2424 commented on #140
@beamercola Hello! :smile:

So unfortunately, we wouldn't have any control of that :( You'd have to see what Youtube, or whatever platform you are using calls out the reason for the takedown.

I wish you the best of luck! :+1:

[2020-04-17 02:34] #140 closed

[2020-04-17 06:38] beamercola commented on #104
I'm streaming this through Ant media server and playing it on iOS.  It seems to issue a stop command on AVPlayer while it's changing tracks.  This library is so incredible btw.

[2020-04-17 17:32] BaileyMcKelway opened #141 "Workaround for stream restarting"
Hi I love this project. I found a work around for the stream restarting by concating the audio files into one. The intial start time is slower however once it starts streaming the stream is unbroken.

I've collected the metadata from each file but haven't found a way to reload the overlay text for the metadata to match the song.

What are some good ways to do this?

[2020-04-20 05:09] torch2424 commented on #104
@beamercola Thanks for the feedback! I super appreciate it! 😄 👍

[2020-04-20 23:57] torch2424 commented on #141
@BaileyMcKelway Hello! So yes, unfortunately, the stream does drop temporarily between songs in order to switch. In most cases this is fine, but depending on device and network conditions this can be a bit funny as you've discovered.

There's an open issue at #104 and #114 to help this. But Haven't had the time to implement :cry:

[2020-05-15 01:25] ALegitCookie opened #142 "[FULL GUIDE]: How to install ffmpeg with libfreetype on raspbian"
Hello everybody. I had trouble finding out how to install/compile ffmpeg with libfreetype when i first started. Now that i know how, i'm going to share how to do it with you to save you some frustration.

Let's get started.
(PLEASE NOTE, WHEREVER YOU SEE "-J4", IF YOUR RASPBERRY PI HAS LESS THAN 4 CPU CORES, REPLACE "J4" WITH "J")

**Install h264 library**
Open a terminal window on your raspberry

[2020-05-18 04:21] torch2424 commented on #142
Oh yay! Thank you very much for this @ALegitCookie ! I'm sure people coming by will find this super useful! :smile: :+1:

[2020-07-26 15:17] MackPerfecto opened #145 "Using the Audio from the Video"
Hi, This is prolly a really dumb question but is there a way to just use the audio that is in the video and just loop the same video over and over?

Thanks!

[2020-07-27 18:01] torch2424 commented on #145
@MackPerfecto Hello! No question is a dumb question :smile:

However, in this project, the video audio is muted, so unfortunately no. But we can leave this issue open as a feature request :smile: :+1:

[2020-07-31 03:44] MackPerfecto commented on #145
Thanks a lot! It'll be amazing if you can include that... Thanks <3

[2020-08-04 19:28] coolavista opened #146 "How to Audio Visualizer/Spectrum"
Hi Aaron,

First, I would like to thank for your great work.

Well, I am very new here, and might be need more advice from you all. Actually I've been successfully installed this script and running on cheap VPS for few weeks ago.

Looking and comparing others 24/7 channel, they have so many features such many running text at bottom and above screen at the same time, adding next songs to play, or a

[2020-08-05 18:29] torch2424 commented on #146
@coolavista

Thank you! Glad that you like it! :smile:

Oh yeah! Thanks for looking into how this would be implemented! That all looks rad! :smile: So I've been quite busy lately, feel free to open a PR on the project, I wouldn't mind reviewing them :smile: :+1:

[2020-08-30 07:53] zohaib055 opened #148 "How to update audio library"
is there a way to update audio library ? Also can we use S3 bucket url as well for audio directory ?

[2020-08-31 18:10] torch2424 commented on #148
Hello! Thanks for the issue!

Unfortunately, no. This only works by using the files local on your device.

We can keep this issue open as a feature request though :+1:

Thank you! :smile:

[2020-11-18 16:43] Malithi-gif commented on #57
(tensorflow_env) C:\Users\User\Desktop\photos>ffmpeg -i autism15.mp4 -vf fps=10 vid-%d.jpg

[image2 @ 0000023f04279780] Could not open file : vid-1.jpg
av_interleaved_write_frame(): I/O error
frame=    1 fps=0.0 q=7.6 Lsize=N/A time=00:00:00.10 bitrate=N/A speed=1.67x
video:69kB audio:0kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: unknown
Conversion failed!

Can you help me

[2020-11-20 18:00] torch2424 commented on #57
@Malithi-gif Hello! Are you using this project `live-stream-radio`? Or just ffmpeg by itself?

I'm curious because you mentioned your in a tensorflow environment?

Thanks!

[2020-12-08 21:36] charliekempf opened #157 "Special Characters in Album/Artist name causing Crash"
Here is my error log

`ffmpeg stderr:

 ffmpeg version 4.1.6-1~deb10u1 Copyright (c) 2000-2020 the FFmpeg developers
  built with gcc 8 (Debian 8.3.0-6)
  configuration: --prefix=/usr --extra-version='1~deb10u1' --toolchain=hardened --libdir=/usr/lib/x86_64-linux-gnu --incdir=/usr/include/x86_64-linux-gnu --arch=amd64 --enable-gpl --disable-stripping --enable-avresample --disable-filter=resample -

[2020-12-09 23:11] AndreasWebdev commented on #157
Yes, this is very likely. I've tried fixing this back then but failed doing so. For now, you could strip out colons in your MP3 tags.

[2020-12-13 00:51] vjasieg opened #158 "Icecast support"
Is there any chance for support of online radios?

[2020-12-14 19:57] torch2424 commented on #158
@vjasieg I didn't have that support in mind, but we can keep this issue open in case someone wants to pick it up :smile:

[2021-02-02 22:53] dropitlikecross commented on #158
@torch2424 I haven't tested with LS but it should work I relay all the time with ffmpeg.
@vjasieg you will need to make a few edits but give it a try?

[2021-02-02 23:12] dropitlikecross commented on #121
As I was for obs to install, I saw @torch2424 pop up in my feed and I started thinking about this again.

So now that we're hopefully wiser and 100× busier, it might be interesting to see what 2021 ideas everyone has.

I'm inclined to think that it should be doable with nginx and since docker's a thing now it would also add the ability to have multiple outputs without the pain setup pains.

[2021-02-05 01:03] torch2424 commented on #158
@dropitlikecross Definitely feel free to give it a try if you would like! :smile:

[2021-02-05 01:06] torch2424 commented on #121
Yeah I'm definitely wayyyy busier haha! :joy:

I'd probably still vouch for something like Electron, especially since Raspberry Pis keep raising the bar. I think using electron on top of a good CLI would be a good idea :smile:

But! I don't have much time recently to dedicate to this project :cry:

[2021-02-06 19:42] SNRSE opened #161 "use ffmpeg-static"
Hey is it possible to automatically also install ffmpeg when doing npm install

[2021-02-09 19:24] torch2424 commented on #161
@SNRSE I don't know of any npm package that would also install ffmpeg :o But if you do, as long as it has all the necessary plugins to handle text and things, I'd be happy to merge it in! :smile:

[2021-04-29 20:12] DoctorVonnegut141 opened #164 "Keep Getting this Error When starting my Stream"
Error: ffmpeg exited with code 1: Output with label 'videooutput' does not exist in any defined filter graph, or was already used elsewhere.

    at ChildProcess.<anonymous> (/home/pi/.config/nvm/versions/node/v16.0.0/lib/node_modules/live-stream-radio/node_modules/fluent-ffmpeg/lib/processor.js:182:22)
    at ChildProcess.emit (node:events:365:28)
    at Process.ChildProcess._handle.onexit (node:

[2021-05-01 01:47] torch2424 commented on #164
Oh I've yet to see someone have "Output with label 'videooutput' does not exist in any defined filter graph". I'd maybe ask, are all of your paths correct for your config / command? :thinking:

[2021-05-01 01:59] DoctorVonnegut141 commented on #164
Paths are all correct, my ffmpeg libraries were giving me some problems so I referred to an earlier issue and downloaded ffmpeg with a h.264 library
I also kept my ffmpeg path in the config.json file empty - I don’t know if I was supposed to put in a pathway there 🤔

[2021-05-01 23:30] andresceron commented on #164
I got that too but on specific song earlier today, and it was due to the metadata of the artist/song that was using tilde. Hope this help you!

[2021-05-02 10:03] pawlean opened #165 "Running the stream 24/7?"
Hey folks!

This isn't an issue on live-stream-radio itself (great tool btw!) But more on how you all set it up to run 24/7? I'm trying to use AWS Lightsail (an EC2 instance basically) to get started, but every time I close the terminal through ssh, it just kills the stream. How are you all keeping it running 24/7?

Any insight would be appreciated 😄

[2021-05-02 10:28] Tresmos commented on #165
screen might be what you're looking for.
https://linuxize.com/post/how-to-use-linux-screen/

[2021-05-02 11:57] pawlean commented on #165
Funnily enough, I discovered screen for another thing. Thank you so much 😊

[2021-05-02 11:57] #165 closed

[2021-05-04 00:35] torch2424 commented on #164
@andresceron Ahhhh! That would make sense.

Did you see the above @DoctorVonnegut141 ? I think that could totally cause an issue, because when I pass the song data to FFMPEG, or bash, it could be intepreted by their special syntax and cause issues :upside_down_face:

Let me know if that is the issue or not :smile: :+1:

(And again! Thank you @andresceron :pray: :smile: )

[2021-05-05 11:47] andresceron commented on #164
No problem @torch2424 glad to help! And btw, I love your project, it is very nice and love how you have coded it, very clean and easy to understand and read 💪

[2021-05-21 06:55] toplevelnick commented on #142
I sure did. Thank you!

[2021-05-21 18:41] toplevelnick opened #171 "Trying to run this on a Raspberry Pi 4 8 GB - Buffering Issues Galore"
Good afternoon. I am a streaming professional and am running the stream at low bit rates. I am using all different kinds of encoding options such as under 1 MB streaming, high CRF numbers, and more. I cannot find the reasoning behind why the Pi cannot keep up with encoding this. The stats on Twitch say that it is unusable and it constantly buffers.

Does anyone mind sharing their config? thanks

[2021-05-21 19:06] torch2424 commented on #171
@toplevelnick Hello! :smile:

Ah! So I will admit, I haven't used / maintained this project in a while as I've been quite busy with the WebAssembly world :hushed:

But, one suggestion I would have, is maybe try the older bash version of the project: https://github.com/torch2424/live-stream-radio/tree/1.2.0

I think Node can be a bit heavy depending on the Pi and what services you have running and

[2021-05-21 19:14] toplevelnick commented on #171
Thanks for the quick response. I’ll give it a try.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Aaron Turner ***@***.***>
Sent: Friday, May 21, 2021 1:06:41 PM
To: torch2424/live-stream-radio ***@***.***>
Cc: Nick ***@***.***>; Mention ***@***.***>
Subject: Re: [torch2424/live-stream-radio] Trying to run this on a Raspberry Pi 4 8 GB - Buffering Issues Galore

[2021-05-23 21:24] toplevelnick commented on #171
So, it doesn't seem to work right. The git clone command in the installer downloads the node version. I did a git clone of the html source and was able to get the right version with the installDeps.sh command. I ran it and when i go to start stream, it says ffmpeg: no process found. and also ffmpeg: error while loading shared libraries: libass.so.5: cannot open shared object file: no such file or

[2021-05-25 18:45] torch2424 commented on #171
@toplevelnick Ah! That's because you must not have ffmpeg installed correctly. There is a script you need to run mentioned in the FFMPEG installation section: https://torch2424.github.io/live-stream-radio/#/raspberry-pi :smile:

I think you should be able to run: `./additionalScripts/compileFFmpeg.sh`, which will install FFMPEG for you. And just to let you know, I think it will take about 20-30 mi

[2021-05-26 00:30] toplevelnick commented on #171
When I ran compileFFmpeg, the terminal window would close out after some time automatically. I think what I did was leave it and moved on but now I rememebr finding the compile script and it would close out. I ran it twice. Any ideas?

[2021-05-26 18:50] torch2424 commented on #171
It closes out? :thinking: I think there is something up with your pi than. Because the only thing that would close out a terminal, is an `exit`, but there isn't one in the script.

But! Do you have an ffmpeg binary in a folder in your project? You may also have to add this binary to your `PATH` if you have one? :hushed:

[2021-06-02 10:25] Xodarr commented on #145
Hello!
As I understand it, this feature was not added?:(

[2021-06-08 01:21] torch2424 commented on #145
@Xodarr Hello! So no, this feature has not been added yet, as I do not currently have a lot of free time for feature development on the project 😢 I'm more than happy to review PRs and contributions though! 😄

[2021-09-02 01:09] kylejbrk opened #176 "Unable to Find Proper Binaries"
I was following the instructions but am getting tripped up on how to download the binaries needed for ffmpeg.

The instructions say to go to this mock release: https://github.com/torch2424/live-stream-radio/releases/tag/ffmpeg-builds
But I am unable to find the actual binaries in the assets.

I also tried using the alternative binaries listed here: https://johnvansickle.com/ffmpeg/
But this result

[2021-09-04 16:19] kylejbrk commented on #83
I am not seeing the binaries in that release.

[2021-09-04 16:23] kylejbrk commented on #134
Any updates here? I am having the same issue.

[2021-09-04 16:38] kylejbrk commented on #176
Figured it out. My issue wasn't the binaries.

I accidentally changed the stream url in my config file. Once I corrected it everything worked fine.

[2021-09-04 16:38] #176 closed

[2021-09-07 20:45] SpiderChat opened #177 "Play Own Video"
Dear

How to set just play of my own video only?

No need to play audio just my own video

[2021-09-14 19:26] torch2424 commented on #177
Hello! So unfortunately, I am not too sure there is a way to play only video with this application. I think you may be better suited to use something like OBS: https://obsproject.com/

Thanks! 😄 🎉

[2021-11-21 03:41] techieanant commented on #142
If you get an error like below after running `./configure --arch=armel --target-os=linux --enable-gpl --enable-libx264 --enable-nonfree --enable-libfreetype` to install `ffmpeg`

[code]

Try adding this flag `--extra-ldflags="-latomic"`  to the `./configure` parameters so it becomes `./configure --arch=armel --target-os=linux --enable-gpl --enable-libx264 --enable-nonfree --enable-libfreetype --ex

[2021-11-21 04:02] techieanant commented on #142
Also, if you get the `gifsicle` error below while installing `live-stream-radio`

[code]

then try the commands below to install `autoconf` and other dependencies correctly

**Linux:**
`sudo apt-get install libtool automake autoconf nasm`
**OS X:**
`brew install libtool automake autoconf nasm`

[2022-01-21 00:59] SyntaxisCS commented on #134
What was the fix? I'm getting this same exact error and I have no idea how to fix it.

[2022-02-20 04:34] dropitlikecross commented on #177
Sorry to contradict you @torch2424 but @SpiderChat you should be able to achieve this with adding the command line option:  `-an` to ffmpeg. I think this can be achieved by adding it into the config.json file and making sure that its in the correct directory. This should result in the stream's audio being muted.

[2022-02-23 00:00] torch2424 commented on #177
@dropitlikecross Oh no worries at all! Glad that you knew how to help that's awesome! 😄 🙏🏾